<nav class="fh5co-nav">
 <div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 text-left">
      <span href="#" ng-hide="$state.includes('preloader')" ng-click="burgerMenu()" class="js-fh5co-nav-toggle fh5co-nav-toggle" style="pointer-events: none">
        <span class="nav-section">
          <span ng-show="$state.includes('home')">H</span>
          <span ng-show="$state.includes('identify')">W1</span>
          <span ng-show="$state.includes('cnbc')">W2</span>
          <span ng-show="$state.includes('rationalized')">W3</span>
          <span ng-show="$state.includes('syfy')">W4</span>
          <span ng-show="$state.includes('jurassic-world')">W5</span>
          <span ng-show="$state.includes('universal-kids')">W6</span>
          <span ng-show="$state.includes('lorax')">W7</span>
          <span ng-show="$state.includes('mvpd')">W8</span>
          <span ng-show="$state.includes('chiller')">W9</span>
          <span ng-show="$state.includes('concerto')">W10</span>
          <span ng-show="$state.includes('about')">A</span>
        </span>
        <div class="lines"></div>
        <div class="nav-numbers-list">
          <!-- <a ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]" href="#project-{{i}}" du-scrollspy="project-{{i}}" class="nav-number">{{i + 1}}</a> -->
          <a href="#project-0" du-scrollspy="project-0" class="nav-number">1</a>
          <a href="#project-1" du-scrollspy="project-1" class="nav-number">2</a>
          <a href="#project-2" du-scrollspy="project-2" class="nav-number">3</a>
          <a href="#project-3" du-scrollspy="project-3" class="nav-number">4</a>
          <a href="#project-4" du-scrollspy="project-4" class="nav-number">5</a>
          <a href="#project-5" du-scrollspy="project-5" class="nav-number">6</a>
          <a href="#project-6" du-scrollspy="project-6" class="nav-number">7</a>
          <a href="#project-7" du-scrollspy="project-7" class="nav-number">8</a>
          <a href="#project-8" du-scrollspy="project-8" class="nav-number">9</a>
          <a href="#project-9" du-scrollspy="project-9" class="nav-number">10</a>
          <a href="#project-10" du-scrollspy="project-10" class="nav-number">11</a>
          <a href="#project-11" du-scrollspy="project-11" class="nav-number">12</a>
          <a href="#project-12" du-scrollspy="project-12" class="nav-number">13</a>
          <a href="#project-13" du-scrollspy="project-13" class="nav-number">14</a>
          <a href="#project-14" du-scrollspy="project-14" class="nav-number">15</a>
        </div>
      </span>
    </div>
    <div class="col-xs-6 text-right">
      <a href="/home">
        <svg class="logo" width="100%" height="100%" viewBox="100 50 143 152" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="nbc">
            <g transform="translate(0.000000,260.000000) scale(0.100000,-0.100000)"
               fill="#000000" stroke="none">
              <path d="M1040 1635 c0 -8 7 -15 15 -15 42 0 75 -57 204 -360 100 -237 133 -305 147 -305 13 0 32 32 72 125 l53 124 -75 179 c-42 98 -76 184 -76 192 0 7 11 22 25 33 49 39 35 42 -170 42 -167 0 -195 -2 -195 -15z"/>
              <path d="M1600 1635 c0 -8 9 -15 19 -15 11 0 27 -7 35 -16 14 -13 16 -55 16 -304 0 -249 -2 -291 -16 -304 -8 -9 -24 -16 -35 -16 -10 0 -19 -7 -19 -15 0 -13 41 -15 305 -15 l305 0 0 100 c0 77 -3 100 -13 100 -8 0 -19 -18 -26 -40 -26 -88 -100 -134 -206 -128 l-60 3 -3 286 c-1 174 2 297 8 313 6 18 20 28 40 32 16 4 30 13 30 20 0 11 -35 14 -190 14 -162 0 -190 -2 -190 -15z"/>
            </g>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>
</nav>
<nav id="fh5co-offcanvas">
  <div id="nav-progress-bar"
  ng-class="{
    height8: ctrl.isVisible1,
    height16: ctrl.isVisible2,
    height24: ctrl.isVisible3,
    height32: ctrl.isVisible4,
    height40: ctrl.isVisible5,
    height48: ctrl.isVisible6,
    height56: ctrl.isVisible7,
    height70: ctrl.isVisible8,
    height64: ctrl.isVisible9,
    height72: ctrl.isVisible10,
    height80: ctrl.isVisible11,
    height99: ctrl.isVisible12,
  }"
  >
  <div class="progress-number progress-number--current"
  ng-bind="
  (ctrl.isVisible12)?'12':
  (ctrl.isVisible11)?'11':
  (ctrl.isVisible10)?'10':
  (ctrl.isVisible9)?'9':
  (ctrl.isVisible8)?'8':
  (ctrl.isVisible7)?'7':
  (ctrl.isVisible6)?'6':
  (ctrl.isVisible5)?'5':
  (ctrl.isVisible4)?'4':
  (ctrl.isVisible3)?'3':
  (ctrl.isVisible2)?'2':
  (ctrl.isVisible1)?'1':'0'">
  </div>
  <div class="progress-line">
    <div class="progress-line progress-line--background"></div>
    <div class="progress-line progress-line--foreground"
    ng-class="{
    height8: ctrl.isVisible1,
    height16: ctrl.isVisible2,
    height24: ctrl.isVisible3,
    height32: ctrl.isVisible4,
    height40: ctrl.isVisible5,
    height48: ctrl.isVisible6,
    height56: ctrl.isVisible7,
    height70: ctrl.isVisible8,
    height64: ctrl.isVisible9,
    height72: ctrl.isVisible10,
    height80: ctrl.isVisible11,
    height99: ctrl.isVisible12,
    }"
    ></div>
  </div>
  <div class="progress-number progress-number--total">12</div>
</div>

<div id="menu-list" change-on-scroll offset="500" scroll-class="scrolling" >
  <ul>
    <li ng-class="{ 'active1' : home === true} " id="home">
      <a href="/home" in-view="ctrl.isVisible1 = $inview" ng-class="{ active: ctrl.isVisible1}"  >
        <span id="top-home" style=" top:0px">H</span>
        <span>o</span>
        <span>m</span>
        <span>e</span>
      </a>
    </li>

    <li ng-class="{ 'active1' : american === true} " id="american">
      <a href="/identify" in-view="ctrl.isVisible2 = $inview" ng-class="{ active: ctrl.isVisible2}" >
        <span id="top-american"  style="top:500px">A</span>
        <span>m</span>
        <span>e</span>
        <span>r</span>
        <span>i</span>
        <span>c</span>
        <span>a</span>
        <span>n</span>
        <span>&nbsp;</span>
        <span>M</span>
        <span>a</span>
        <span>d</span>
        <span>e</span>
      </a>
    </li>

    <li>
      <a href="//content-commerce.nbcuxlab.com" target="_blank" in-view="ctrl.isVisible3 = $inview" ng-class="{ active: ctrl.isVisible3}" >
        <span>C</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>e</span>
        <span>n</span>
        <span>t</span>
        <span>&nbsp;</span>
        <span>C</span>
        <span>o</span>
        <span>m</span>
        <span>m</span>
        <span>e</span>
        <span>r</span>
        <span>c</span>
        <span>e</span>
      </a>
    </li>

    <li>
      <a href="//brandedcontent.nbcuxlab.com/" target="_blank" in-view="ctrl.isVisible4 = $inview" ng-class="{ active: ctrl.isVisible4}" >
        <span>V</span>
        <span>.</span>
        <span>a</span>
        <span>i</span>
      </a>
    </li>

    <li ng-class="{ 'active1' : cnbc === true} " id="cnbc">
      <a href="/cnbc" in-view="ctrl.isVisible5 = $inview" ng-class="{ active: ctrl.isVisible5}" >
        <span id="top-cnbc" style=" top:1000px">C</span>
        <span>N</span>
        <span>B</span>
        <span>C</span>
      </a>
    </li>

    <li ng-class="{ 'active1' : rationalized === true} " id="rationalized">
      <a href="/rationalized" in-view="ctrl.isVisible6 = $inview" ng-class="{ active: ctrl.isVisible6}" >
        <span id="top-rationalized" style=" top:1500px">R</span>
        <span>a</span>
        <span>t</span>
        <span>i</span>
        <span>o</span>
        <span>n</span>
        <span>a</span>
        <span>l</span>
        <span>i</span>
        <span>z</span>
        <span>e</span>
        <span>d</span>
      </a>
    </li>
    <li ng-class="{ 'active1' : syfy === true} " id="syfy">
      <a href="/syfy" in-view="ctrl.isVisible7 = $inview" ng-class="{ active: ctrl.isVisible7}" >
        <span id="top-syfy" style=" top:2000px">M</span>
        <span>o</span>
        <span>b</span>
        <span>i</span>
        <span>l</span>
        <span>e</span>
        <span>&nbsp;</span>
        <span>A</span>
        <span>n</span>
        <span>a</span>
        <span>l</span>
        <span>y</span>
        <span>s</span>
        <span>i</span>
        <span>s</span>

      </a>
    </li>
    <li ng-class="{ 'active1' : jurassic === true} " id="jurassic">
      <a href="/jurassic-world" in-view="ctrl.isVisible8 = $inview" ng-class="{ active: ctrl.isVisible8}" >
        <span id="top-jurassic" style=" top:2500px">J</span>
        <span>u</span>
        <span>r</span>
        <span>a</span>
        <span>s</span>
        <span>s</span>
        <span>i</span>
        <span>c</span>
        <span>&nbsp;</span>
        <span>W</span>
        <span>o</span>
        <span>r</span>
        <span>l</span>
        <span>d</span>
      </a>
    </li>
    <li ng-class="{ 'active1' : universal === true} " id="universal">
      <a href="/universal-kids" in-view="ctrl.isVisible9 = $inview" ng-class="{ active: ctrl.isVisible9}" >
        <span id="top-universal" style=" top:3000px">U</span>
        <span>n</span>
        <span>i</span>
        <span>v</span>
        <span>e</span>
        <span>r</span>
        <span>s</span>
        <span>a</span>
        <span>l</span>
        <span>&nbsp;</span>
        <span>K</span>
        <span>i</span>
        <span>d</span>
        <span>s</span>
      </a>
    </li>
    <li ng-class="{ 'active1' : lorax === true} " id="lorax">
      <a href="/lorax" in-view="ctrl.isVisible9 = $inview" ng-class="{ active: ctrl.isVisible9}" >
        <span id="top-lorax" style=" top:3500px">L</span>
        <span>o</span>
        <span>r</span>
        <span>a</span>
        <span>x</span>
      </a>
    </li>
     <li ng-class="{ 'active1' : mvpd === true} " id="mvpd">
      <a href="/mvpd" in-view="ctrl.isVisible10 = $inview" ng-class="{ active: ctrl.isVisible10}" >
        <span id="top-mvpd" style=" top:4000px">M</span>
        <span>V</span>
        <span>P</span>
        <span>D</span>
      </a>
    </li>
    <li ng-class="{ 'active1' : chiller === true} " id="chiller">
      <a href="/chiller" in-view="ctrl.isVisible11 = $inview" ng-class="{ active: ctrl.isVisible11 }">
        <span id="top-chiller" style=" top:4500px">C</span>
        <span>h</span>
        <span>i</span>
        <span>l</span>
        <span>l</span>
        <span>e</span>
        <span>r</span>
      </a>
    </li>
    <li ng-class="{ 'active1' : concerto === true} " id="concerto">
      <a href="/concerto" in-view="ctrl.isVisible12 = $inview" ng-class="{ active: ctrl.isVisible12 }">
        <span id="top-concerto" style=" top:5000px">C</span>
        <span>o</span>
        <span>n</span>
        <span>c</span>
        <span>e</span>
        <span>r</span>
        <span>t</span>
        <span>o</span>
      </a>
    </li>
  </ul>
</div>
</nav>
