<div id="project-8" du-scrollspy="project-8" ciper-text class="fh5co-section fh5co-section--white">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%">
    <g class="left">
      <text ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
      ng-x="{{0 + ((i - 1) * 0.3)}}%" 
      ng-y="{{59 + ((i - 1) * 0.3)}}%"
      ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
      C
    </text>
  </g>
  <g class="right">
    <text ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
    ng-x="{{56 - ((i - 1) * 0.3)}}%" 
    ng-y="{{90 + ((i - 1) * 0.3)}}%"
    ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
    R
  </text>
</g>
</svg>
<div class="container-fluid">
  <div class="row row-pb-md">
    <div class="col-md-5 col-md-offset-1 fh5co-heading hidden-xs text-left" >
      <p class="tags tags--right">
        <span>UX Research</span>
        <span>Product Requirements</span>
        <span>UX/UI Design</span>
        <span>UI Development</span>
        <span>Prototyping</span>
        <span>User Testing</span>
        <span>Branding</span>
        <span>Front-End Dev</span>
      </p>
      <div style="min-height: 6em;" class="spacer hidden-xs"></div>
      <a href="/chiller">
        <div class="img-wrapper img-wrapper--left">
          <img class="img-responsive" src="images/chiller/slasher.jpg">
          <!-- <video class="img-responsive" autoplay="" loop="" muted="">
            <source src="/images/chiller/hover.mp4" type="video/mp4">
            </source>
          </video> -->
        </div>
      </a>
    </div>
    <div class="col-md-4 col-md-offset-1 text-left fh5co-heading">
      <div class="image-group image-group--layered1">
        <video class="img-responsive background"  loop="" muted="">
          <source src="/images/chiller/hover.mp4" type="video/mp4">
          </source>
        </video>
        <img class="img-responsive foreground" src="images/chiller/imagery-altered.jpg">
        <!-- <video class="img-responsive foreground" autoplay="" loop="" muted="">
          <source src="" type="video/mp4">
          </source>
        </video> -->
      </div>
      <div style="min-height: 6em;" class="spacer hidden-xs"></div>
      <h3 class="cipher-text">Chiller</h3>
      <p split-text>We were asked to give our fresh take and re-design the consumer-facing site to mirror Chiller TV network’s brand refresh. Chiller was the first brand to be powered by the new Concerto CMS system we worked on.</p>
      <div class="links">
        <a class=" hidden-xs" href="/chiller"><span>Continue</span><div class="underline"></div></a>
        <a class=" hidden-xs" href="//chiller-branding.nbcuxlab.com/" target="_blank"><span>Visit Website</span><div class="underline"></div></a>
      </div>
    </div>
  </div>
</div>
</div>


