<div id="project-9" du-scrollspy="project-9" ciper-text class="fh5co-section fh5co-section--white">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%">
    <g class="right">
      <text ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
      ng-x="{{50 + ((i - 1) * 0.3)}}%" 
      ng-y="{{60 + ((i - 1) * 0.3)}}%"
      ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
      O
    </text>
  </g>
  <g class="left">
    <text ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
    ng-x="{{6 - ((i - 1) * 0.3)}}%" 
    ng-y="{{83 + ((i - 1) * 0.3)}}%"
    ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
    C
  </text>
</g>
</svg>
<div class="container-fluid">
  <div class="row row-pb-md">
    <div class="col-md-4 col-md-offset-1 text-left fh5co-heading">
      <!-- <div class="image-group image-group--layered1"> -->
        <!-- <img class="img-responsive background" src="images/concerto/promo__collection.png"> -->
        <!-- <video class="img-responsive background" autoplay="" loop="" muted="">
          <source src="/images/concerto/media.mp4" type="video/mp4">
        </video>
        <video class="img-responsive foreground" autoplay="" loop="" muted="">
          <source src="/images/concerto/dragging.mp4" type="video/mp4">
        </video> -->

      <!-- </div> -->
      <div style="min-height: 12em;" class="spacer hidden-xs"></div>
      <h3 class="cipher-text">Concerto</h3>
      <p split-text>The Concerto CMS was created to power NBCUniversal entertainment brands’ consumer-facing sites. We tailored a more efficient workflow and created a design language with flexibility catered to the brands' diverse needs.</p>
      <div class="links">
        <a class=" hidden-xs" href="/concerto"><span>Continue</span><div class="underline"></div></a>
        <a class=" hidden-xs" href="//concerto.nbcuxlab.com/introduction/process.html" target="_blank"><span>Visit Website</span><div class="underline"></div></a>
        <a class=" hidden-xs" href="//concerto.nbcuxlab.com/concerto/prototypes.html" target="_blank"><span>Visit Prototype</span><div class="underline"></div></a>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1 fh5co-heading hidden-xs text-right" >
      <p class="tags tags--right">
        <span>UX Research</span>
        <span>Product Requirements</span>
        <span>UX/UI Design</span>
        <span>UI Development</span>
        <span>Prototyping</span>
        <span>Front-End Dev</span>
        <span>Usability Testing</span>
      </p>
      <div style="min-height: 6em;" class="spacer hidden-xs"></div>
      <a href="/concerto">
        <div class="img-wrapper img-wrapper--right">
          <video class="img-responsive background" loop="" muted="">
            <source src="/images/concerto/rectangles.mp4" type="video/mp4">
          </video>
        </div>
      </a>
    </div>
  </div>
</div>
</div>


