<div id="project-0" du-scrollspy="project-0" class="fh5co-section fh5co-section--white" ciper-text>
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
		<g class="left">
			<text x="-2%" y="65%" transform="scale(1.005)">
				F
			</text>
			<text  x="-1.7%" y="65.3%" transform="scale(1.003)">
        F
			</text>
			<text  x="-1.4%" y="65.6%" transform="scale(1.001)">
        F
			</text>
			<text x="-1.1%" y="65.9%" transform="scale(0.9989999999999999)">
        F
			</text>
			<text x="-1.8%" y="66.2%" transform="scale(0.9969999999999999)">
        F
			</text>
			<text  x="-1.5%" y="66.5%" transform="scale(0.9949999999999999)">
        F
			</text>
			<text x="-1.2%" y="66.8%" transform="scale(0.9929999999999999)">
        F
			</text>
		</g>
		<g class="right">
			<text x="60%" y="75%" transform="scale(1.005)">
				D
			</text>
			<text  x="59.7%" y="75.3%" transform="scale(1.003)">
        D
			</text>
			<text  x="59.4%" y="75.6%" transform="scale(1.001)">
        D
			</text>
			<text  x="59.1%" y="75.9%" transform="scale(0.9989999999999999)">
        D
			</text>
			<text  x="58.8%" y="76.2%" transform="scale(0.9969999999999999)">
        D
			</text>
			<text  x="58.5%" y="76.5%" transform="scale(0.9949999999999999)">
        D
			</text>
			<text  x="58.2%" y="76.8%" transform="scale(0.9929999999999999)">
        D
			</text>
		</g>
	</svg>
	<div class="container-fluid">
		<div class="row row-pb-md">
			<div class="col-md-4 col-md-offset-1 text-left fh5co-heading text-left">
				<div style="min-height: 10em;" class="spacer hidden-xs"></div>
				<h3 class="cipher-text" cipher-data="Identify"><p><span>Identify</span></p></h3>
				<p split-text>For those who may have limited English language abilities and are unfamiliar with U.S. drugstores and their products, it can be very difficult to identify the right over-the-counter medicine for their symptoms.</p>
				<p split-text>Our team has designed an app that will help in finding the right medicine and making sure they feel confident that it will treat their symptoms.</p>
				<div class="links">
					<a href="/identify"><span>Continue</span><div class="underline"></div></a>
<!--					<a href="//american-made-a.nbcuxlab.com" target="_blank"><span>Visit Website</span><div class="underline"></div></a>-->
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1 fh5co-heading text-right">
				<p class="tags tags--right hidden-xs">
          <span>Screen Survey</span>
          <span>User Interviews</span>
          <span>Persona Creation</span>
          <span>Competitor/ Comparator Analysis</span>
          <span>Design Studio</span>
          <span>Wireframes</span>
          <span>Rapid Prototyping</span>
          <span>Usability Testing</span>
				</p>
				<div style="min-height: 3em;" class="spacer hidden-xs"></div>
				<a href="/identify">
					<div class="img-wrapper img-wrapper--right">

            <video class="img-responsive background" autoplay="" loop="" muted="">-->
              							<source src="images/american-made/pills1.mp4" type="video/mp4">-->
              							</video>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<!--<div id="project-1" du-scrollspy="project-1" class="fh5co-section fh5co-section&#45;&#45;white" ciper-text>-->
<!--	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">-->
<!--		<g class="left">-->
<!--			<text x="-6%" y="55%" transform="scale(1.005)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="-5.7%" y="55.3%" transform="scale(1.003)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="-5.4%" y="55.6%" transform="scale(1.001)">-->
<!--				C-->
<!--			</text>-->
<!--			<text x="-5.1%" y="55.9%" transform="scale(0.9989999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text x="-4.8%" y="56.2%" transform="scale(0.9969999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="-4.5%" y="56.5%" transform="scale(0.9949999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text x="-4.2%" y="56.8%" transform="scale(0.9929999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--		</g>-->
<!--		<g class="right">-->
<!--			<text x="60%" y="75%" transform="scale(1.005)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="59.7%" y="75.3%" transform="scale(1.003)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="59.4%" y="75.6%" transform="scale(1.001)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="59.1%" y="75.9%" transform="scale(0.9989999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="58.8%" y="76.2%" transform="scale(0.9969999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="58.5%" y="76.5%" transform="scale(0.9949999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="58.2%" y="76.8%" transform="scale(0.9929999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--		</g>-->
<!--	</svg>-->
<!--	<div class="container-fluid">-->
<!--		<div class="row row-pb-md">-->
<!--			<div class="col-md-5 col-md-offset-1 fh5co-heading text-left">-->
<!--				<p class="tags tags&#45;&#45;left hidden-xs">-->
<!--					<span>UX Research</span>-->
<!--					<span>UX/UI Design</span>-->
<!--					<span>UI Development</span>-->
<!--					<span>Front-End Dev</span>-->
<!--				</p>-->
<!--				<div style="min-height: 3em;" class="spacer hidden-xs"></div>-->
<!--				<a href="//content-commerce.nbcuxlab.com/introduction/index.html">-->
<!--					<div class="img-wrapper img-wrapper&#45;&#45;right">-->
<!--						<img class="img-responsive" src="images/content-commerce/chart.gif">-->
<!--					</div>-->
<!--				</a>-->
<!--			</div>-->
<!--			<div class="col-md-4 col-md-offset-1 text-left fh5co-heading text-left">-->
<!--				<div style="min-height: 10em;" class="spacer hidden-xs"></div>-->
<!--				<h3 class="cipher-text" cipher-data="Content Commerce"><p><span>Content Commerce</span></p></h3>-->
<!--				<p split-text>In order to understand the current landscape of the e-commerce arena, we did a competitive analysis with major players in high-end online retail and fashion blogging. We took a look at a diverse array of features on their site to identify what makes them successful in converting and retaining their consumer base.</p>-->
<!--				<div class="links">-->
<!--					<a href="//content-commerce.nbcuxlab.com/introduction/index.html"><span>Visit Website</span><div class="underline"></div></a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->


<!--<div id="project-2" du-scrollspy="project-2" class="fh5co-section fh5co-section&#45;&#45;white" ciper-text>-->
<!--	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">-->
<!--		<g class="right">-->
<!--			<text  x="66%" y="70%" transform="scale(1.005)">-->
<!--				L-->
<!--			</text>-->
<!--			<text x="65.8%" y="70.2%" transform="scale(1.004)">-->
<!--				L-->
<!--			</text>-->
<!--			<text  x="65.6%" y="70.4%" transform="scale(1.003)">-->
<!--				L-->
<!--			</text>-->
<!--			<text x="65.4%" y="70.6%" transform="scale(1.002)">-->
<!--				L-->
<!--			</text>-->
<!--			<text  x="65.2%" y="70.8%" transform="scale(1.001)">-->
<!--				L-->
<!--			</text>-->
<!--			<text x="65%" y="71%" transform="scale(0.9999999999999999)">-->
<!--				L-->
<!--			</text>-->
<!--			<text  x="64.8%" y="71.2%" transform="scale(0.9989999999999999)">-->
<!--				L-->
<!--			</text>-->
<!--		</g>-->
<!--		<g class="left">-->
<!--			<text  x="-3%" y="55%" transform="scale(1.005)">-->
<!--				M-->
<!--			</text>-->
<!--			<text  x="-2.8%" y="55.2%" transform="scale(1.004)">-->
<!--				M-->
<!--			</text>-->
<!--			<text x="-2.6%" y="55.4%" transform="scale(1.003)">-->
<!--				M-->
<!--			</text>-->
<!--			<text  x="-2.4%" y="55.6%" transform="scale(1.002)">-->
<!--				M-->
<!--			</text>-->
<!--			<text  x="-2.2%" y="55.8%" transform="scale(1.001)">-->
<!--				M-->
<!--			</text>-->
<!--			<text  x="-2%" y="56%" transform="scale(0.9999999999999999)">-->
<!--				M-->
<!--			</text>-->
<!--			<text  x="-1.8%" y="56.2%" transform="scale(0.9989999999999999)">-->
<!--				M-->
<!--			</text>-->
<!--		</g>-->
<!--	</svg>-->
<!--	<div class="container-fluid">-->
<!--		<div class="row row-pb-md">-->
<!--			<div class="col-md-5 col-md-offset-1 fh5co-heading text-left">-->
<!--				<p class="tags tags&#45;&#45;right hidden-xs">-->
<!--					<span>UX/UI Design</span>-->
<!--					<span>UI Development</span>-->
<!--					<span>Prototyping</span>-->
<!--					<span>Asset Creation</span>-->
<!--					<span>Front-End Dev</span>-->
<!--				</p>-->
<!--				<div style="min-height: 3em;" class="spacer hidden-xs"></div>-->
<!--				<a href="//brandedcontent.nbcuxlab.com/landing/index.html">-->
<!--					<div class="img-wrapper img-wrapper&#45;&#45;right">-->
<!--						<img class="img-responsive" src="images/branded-content/mr-robot.gif">-->

<!--					</div>-->
<!--				</a>-->
<!--			</div>-->
<!--			<div class="col-md-4 col-md-offset-1 text-left fh5co-heading">-->
<!--				<div style="min-height: 10em;" class="spacer hidden-xs"></div>-->
<!--				<h3 class="cipher-text" cipher-data="V.ai & Branded Content"><p><span>V.ai & Branded Content</span></p></h3>-->
<!--				<p split-text>V.ai aims to combine branded content with product integration in the video space leveraging machine learning in order to shape the future of how brands influence consumers while delivering an immersive video-viewing experience.</p>-->
<!--				<div class="links">-->
<!--					<a href="//brandedcontent.nbcuxlab.com/landing/index.html" target="_blank"><span>Visit Website</span><div class="underline"></div></a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->


<!--<div id="project-3" du-scrollspy="project-3" ciper-text class="fh5co-section fh5co-section&#45;&#45;white">-->
<!--	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">-->
<!--		<g class="right">-->
<!--			<text  x="56%" y="56%" transform="scale(1.005)">-->
<!--				B-->
<!--			</text>-->
<!--			<text x="55.8%" y="56.2%" transform="scale(1.004)">-->
<!--				B-->
<!--			</text>-->
<!--			<text  x="55.6%" y="56.4%" transform="scale(1.003)">-->
<!--				B-->
<!--			</text>-->
<!--			<text x="55.4%" y="56.6%" transform="scale(1.002)">-->
<!--				B-->
<!--			</text>-->
<!--			<text  x="55.2%" y="56.8%" transform="scale(1.001)">-->
<!--				B-->
<!--			</text>-->
<!--			<text x="55%" y="57%" transform="scale(0.9999999999999999)">-->
<!--				B-->
<!--			</text>-->
<!--			<text  x="54.8%" y="57.2%" transform="scale(0.9989999999999999)">-->
<!--				B-->
<!--			</text>-->
<!--		</g>-->
<!--		<g class="left">-->
<!--			<text  x="6%" y="78%" transform="scale(1.005)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="5.8%" y="78.2%" transform="scale(1.004)">-->
<!--				C-->
<!--			</text>-->
<!--			<text x="5.6%" y="78.4%" transform="scale(1.003)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="5.4%" y="78.6%" transform="scale(1.002)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="5.2%" y="78.8%" transform="scale(1.001)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="5%" y="79%" transform="scale(0.9999999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="4.8%" y="79.2%" transform="scale(0.9989999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--		</g>-->

<!--	</svg>-->
<!--	<div class="container-fluid">-->
<!--		<div class="row row-pb-md">-->
<!--			<div class="col-md-4 col-md-offset-1 text-left fh5co-heading">-->
<!--				<div class="image-group image-group&#45;&#45;layered1">-->
<!--					<img class="img-responsive background" src="images/cnbc/lifecycle.png">-->
<!--					<img class="img-responsive foreground" src="images/cnbc/characters.png">-->
<!--				</div>-->
<!--				<div style="min-height: 4em;" class="spacer hidden-xs"></div>-->
<!--				<h3 class="cipher-text" cipher-data="CNBC">CNBC</h3>-->
<!--				<p split-text>We conducted extensive research to understand the digital news publishing process. After spending a lot of up close and personal time with our news team, we came up with the pilot BEE, which featured smart simultaneous editing with real-time updates (think Google Docs but better) and flexible modular interface.</p>-->
<!--				<div class="links">-->
<!--					<a href="/cnbc"><span>Continue</span><div class="underline"></div></a>-->
<!--					<a href="//cnbc-ux.nbcuxlab.com/" target="_blank"><span>Visit Website</span><div class="underline"></div></a>-->
<!--					<a class=" hidden-xs" href="//nbcuxlab.com/BEE/proposal-new/" target="_blank"><span>See Functional Overview</span><div class="underline"></div></a>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-5 col-md-offset-1 fh5co-heading hidden-xs text-right" >-->
<!--				<p class="tags tags&#45;&#45;right">-->
<!--					<span>UX Research</span>-->
<!--					<span>Product Requirements</span>-->
<!--					<span>UX/UI Design</span>-->
<!--					<span>UI Development</span>-->
<!--					<span>Prototyping</span>-->
<!--					<span>Usability Testing</span>-->
<!--					<span>Front-End Dev</span>-->
<!--				</p>-->
<!--				<div style="min-height: 4em;" class="spacer hidden-xs"></div>-->
<!--				<a href="/cnbc">-->
<!--					<div class="img-wrapper img-wrapper&#45;&#45;right">-->
<!--						<img class="img-responsive" src="images/cnbc/hot-seat2.gif">-->
<!--					</div>-->
<!--				</a>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<!--<div id="project-4" du-scrollspy="project-4" ciper-text class="fh5co-section fh5co-section&#45;&#45;white">-->
<!--	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" >-->
<!--		<g class="left">-->
<!--			<text  x="7%" y="60%" transform="scale(1.005)">-->
<!--				R-->
<!--			</text>-->
<!--			<text  x="6.7%" y="60.3%" transform="scale(1.003)">-->
<!--				R-->
<!--			</text>-->
<!--			<text  x="6.4%" y="60.6%" transform="scale(1.001)">-->
<!--				R-->
<!--			</text>-->
<!--			<text  x="6.1%" y="60.9%" transform="scale(0.9989999999999999)">-->
<!--				R-->
<!--			</text>-->
<!--			<text x="5.8%" y="61.2%" transform="scale(0.9969999999999999)">-->
<!--				R-->
<!--			</text>-->
<!--			<text  x="5.5%" y="61.5%" transform="scale(0.9949999999999999)">-->
<!--				R-->
<!--			</text>-->
<!--			<text  x="5.2%" y="61.8%" transform="scale(0.9929999999999999)">-->
<!--				R-->
<!--			</text>-->
<!--		</g>-->
<!--		<g class="right">-->
<!--			<text  x="56%" y="85%" transform="scale(1.005)">-->
<!--				P-->
<!--			</text>-->
<!--			<text x="55.7%" y="85.3%" transform="scale(1.003)">-->
<!--				P-->
<!--			</text>-->
<!--			<text x="55.4%" y="85.6%" transform="scale(1.001)">-->
<!--				P-->
<!--			</text>-->
<!--			<text  x="55.1%" y="85.9%" transform="scale(0.9989999999999999)">-->
<!--				P-->
<!--			</text>-->
<!--			<text x="54.8%" y="86.2%" transform="scale(0.9969999999999999)">-->
<!--				P-->
<!--			</text>-->
<!--			<text x="54.5%" y="86.5%" transform="scale(0.9949999999999999)">-->
<!--				P-->
<!--			</text>-->
<!--			<text  x="54.2%" y="86.8%" transform="scale(0.9929999999999999)">-->
<!--				P-->
<!--			</text>-->
<!--		</g>-->
<!--	</svg>-->
<!--	<div class="container-fluid">-->
<!--		<div class="row row-pb-md">-->
<!--			<div class="col-md-5 col-md-offset-1 fh5co-heading text-left" >-->
<!--				<p class="tags tags&#45;&#45;right hidden-xs">-->
<!--					<span>UX Research</span>-->
<!--					<span>UX/UI Design</span>-->
<!--					<span>UI Development</span>-->
<!--					<span>Prototyping</span>-->
<!--					<span>Front-End Dev</span>-->
<!--				</p>-->
<!--				<div style="min-height: 6em;" class="spacer hidden-xs"></div>-->
<!--				<a href="/rationalized">-->
<!--					<div class="img-wrapper img-wrapper&#45;&#45;right" >-->
<!--						<img class="img-responsive" src="images/rationalized/squeeze-card.gif">-->
<!--					</div>-->
<!--				</a>-->
<!--			</div>-->
<!--			<div class="col-md-4 col-md-offset-1 text-left fh5co-heading">-->
<!--				<div style="min-height: 6em;" class="spacer hidden-xs"></div>-->
<!--				<h3 class="cipher-text" cipher-data="Rationalized Video Player">Rationalized Video Player</h3>-->
<!--				<p split-text>We created a user-friendly video player that would suit the needs of all the entertainment and news brands within NBCUniversal.</p>-->
<!--				<p split-text>Our highly configurable player sandbox allowed for a variety of brands to adopt the player with their own customizable branding throughout the network.</p>-->
<!--				<div class="links">-->
<!--					<a href="/rationalized"><span>Continue</span><div class="underline"></div></a>-->
<!--					<a class=" hidden-xs" href="//rationalized-player.nbcuxlab.com/crisp.html" target="_blank"><span>Visit Sandbox</span><div class="underline"></div></a>-->
<!--					<a href="//rationalizedplayer.nbcuxlab.com/" target="_blank"><span>Visit Website</span><div class="underline"></div></a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->


<!--<div id="project-5" du-scrollspy="project-5" ciper-text class="fh5co-section fh5co-section&#45;&#45;white">-->
<!--	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">-->
<!--		<g class="left">-->
<!--			<text x="0%" y="56%" transform="scale(1.005)">-->
<!--				S-->
<!--			</text>-->
<!--			<text  x="0.3%" y="56.3%" transform="scale(1.003)">-->
<!--				S-->
<!--			</text>-->
<!--			<text  x="0.6%" y="56.6%" transform="scale(1.001)">-->
<!--				S-->
<!--			</text>-->
<!--			<text  x="0.8999999999999999%" y="56.9%" transform="scale(0.9989999999999999)">-->
<!--				S-->
<!--			</text>-->
<!--			<text  x="1.2%" y="57.2%" transform="scale(0.9969999999999999)">-->
<!--				S-->
<!--			</text>-->
<!--			<text  x="1.5%" y="57.5%" transform="scale(0.9949999999999999)">-->
<!--				S-->
<!--			</text>-->
<!--			<text  x="1.7999999999999998%" y="57.8%" transform="scale(0.9929999999999999)">-->
<!--				S-->
<!--			</text>-->
<!--		</g>-->
<!--		<g class="right">-->
<!--			<text  x="56%" y="67%" transform="scale(1.005)">-->
<!--				F-->
<!--			</text>-->
<!--			<text  x="55.7%" y="67.3%" transform="scale(1.003)">-->
<!--				F-->
<!--			</text>-->
<!--			<text  x="55.4%" y="67.6%" transform="scale(1.001)">-->
<!--				F-->
<!--			</text>-->
<!--			<text  x="55.1%" y="67.9%" transform="scale(0.9989999999999999)">-->
<!--				F-->
<!--			</text>-->
<!--			<text x="54.8%" y="68.2%" transform="scale(0.9969999999999999)">-->
<!--				F-->
<!--			</text>-->
<!--			<text x="54.5%" y="68.5%" transform="scale(0.9949999999999999)">-->
<!--				F-->
<!--			</text>-->
<!--			<text  x="54.2%" y="68.8%" transform="scale(0.9929999999999999)">-->
<!--				F-->
<!--			</text>-->
<!--		</g>-->
<!--	</svg>-->

<!--	<div class="container-fluid">-->
<!--		<div class="row row-pb-md">-->
<!--			<div class="col-md-4 col-md-offset-1 text-left fh5co-heading">-->
<!--				<div class="image-group image-group&#45;&#45;layered1">-->
<!--						&lt;!&ndash; <video class="img-responsive background" autoplay="" loop="" muted="">-->
<!--							<source src="/images/jurassic-world/homepage-sm.mp4" type="video/mp4">-->
<!--							</video> &ndash;&gt;-->
<!--							<img class="img-responsive background" src="images/syfy/syfy-home1.jpg">-->
<!--							<img class="img-responsive foreground" src="images/syfy/syfy-home.gif">-->


<!--						</div>-->
<!--						<div style="min-height: 6em;" class="spacer hidden-xs"></div>-->
<!--						<h3 class="cipher-text" cipher-data="Mobile Analysis for Syfy">Mobile Analysis for Syfy</h3>-->
<!--						<p split-text>From tinkering with SyFy’s current app and running a competitive analysis, we’re hoping to use our research to reimagine and innovate SyFy’s mobile experience. </p>-->
<!--						<p split-text>Our brain gears will be shifting and light bulbs will go off as we ideate, design, prototype, and user-test a newly refined mobile app experience for our users at SyFy and beyond.</p>-->
<!--						<div class="links">-->
<!--							<a href="/syfy"><span>Continue</span><div class="underline"></div></a>-->
<!--							<a href="//mobile-analysis.nbcuxlab.com/" target="_blank"><span>Visit Website</span><div class="underline"></div></a>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="col-md-5 col-md-offset-1 fh5co-heading hidden-xs text-right" >-->
<!--						<p class="tags">-->
<!--							<span>UX Research</span>-->
<!--						</p>-->
<!--						<div style="min-height: 8em;" class="spacer hidden-xs"></div>-->
<!--						<a href="/syfy">-->
<!--							<div class="img-wrapper img-wrapper&#45;&#45;right" >-->

<!--								<img class="img-responsive" src="images/syfy/syfy-main.gif">-->

<!--							</div>-->
<!--						</a>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->

<!--		</div>-->


<!--		<div id="project-6" du-scrollspy="project-6" ciper-text class="fh5co-section fh5co-section&#45;&#45;white">-->
<!--			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">-->
<!--				<g class="left">-->
<!--					<text  x="16%" y="68%" transform="scale(1.005)">-->
<!--						J-->
<!--					</text>-->
<!--					<text  x="15.7%" y="68.3%" transform="scale(1.003)">-->
<!--						J-->
<!--					</text>-->
<!--					<text  x="15.4%" y="68.6%" transform="scale(1.001)">-->
<!--						J-->
<!--					</text>-->
<!--					<text x="15.1%" y="68.9%" transform="scale(0.9989999999999999)">-->
<!--						J-->
<!--					</text>-->
<!--					<text  x="14.8%" y="69.2%" transform="scale(0.9969999999999999)">-->
<!--						J-->
<!--					</text>-->
<!--					<text  x="14.5%" y="69.5%" transform="scale(0.9949999999999999)">-->
<!--						J-->
<!--					</text>-->
<!--					<text x="14.2%" y="69.8%" transform="scale(0.9929999999999999)">-->
<!--						J-->
<!--					</text>-->
<!--				</g>-->
<!--				<g class="right">-->
<!--					<text x="56%" y="78%" transform="scale(1.005)">-->
<!--						W-->
<!--					</text>-->
<!--					<text  x="55.7%" y="78.3%" transform="scale(1.003)">-->
<!--						W-->
<!--					</text>-->
<!--					<text  x="55.4%" y="78.6%" transform="scale(1.001)">-->
<!--						W-->
<!--					</text>-->
<!--					<text  x="55.1%" y="78.9%" transform="scale(0.9989999999999999)">-->
<!--						W-->
<!--					</text>-->
<!--					<text  x="54.8%" y="79.2%" transform="scale(0.9969999999999999)">-->
<!--						W-->
<!--					</text>-->
<!--					<text  x="54.5%" y="79.5%" transform="scale(0.9949999999999999)">-->
<!--						W-->
<!--					</text>-->
<!--					<text x="54.2%" y="79.8%" transform="scale(0.9929999999999999)">-->
<!--						W-->
<!--					</text>-->
<!--				</g>-->
<!--			</svg>-->
<!--			<div class="container-fluid">-->
<!--				<div class="row row-pb-md">-->
<!--					<div class="col-md-4 col-md-offset-1 text-left fh5co-heading">-->
<!--						<div class="image-group image-group&#45;&#45;layered1">-->
<!--							<img class="img-responsive background" src="images/jurassic-world/homepage-sm.jpg">-->
<!--						&lt;!&ndash; <video class="img-responsive background" autoplay="" loop="" muted="">-->
<!--							<source src="/images/jurassic-world/homepage-sm.mp4" type="video/mp4">-->
<!--							</video> &ndash;&gt;-->
<!--							<img class="img-responsive foreground" src="images/jurassic-world/dinosaur-eye-sm.gif">-->
<!--						</div>-->
<!--						<div style="min-height: 6em;" class="spacer hidden-xs"></div>-->
<!--						<h3 class="cipher-text" cipher-data="Jurassic World">Jurassic World</h3>-->
<!--						<p split-text>Nothing makes us more stoked than science-fiction thrillers. This is why we leapt at the chance (with our T-Rex arms flailing) to design and develop a site for Universal Pictures’ Jurassic World. From its ideation to its launch, we built a site that captures the spirit of the film. We even created an interactive dinosaur infograph to give the site a more immersive experience.</p>-->
<!--						<div class="links">-->
<!--							<a href="/jurassic-world"><span>Continue</span><div class="underline"></div></a>-->
<!--							<a href="//universal-pictures.nbcuxlab.com/jurassic-world/" target="_blank"><span>Visit Website</span><div class="underline"></div></a>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="col-md-5 col-md-offset-1 fh5co-heading hidden-xs text-right" >-->
<!--						<p class="tags">-->
<!--							<span>UX/UI Design</span>-->
<!--							<span>UI Development</span>-->
<!--							<span>Prototyping</span>-->
<!--							<span>Front-End Dev</span>-->
<!--							<span>Asset Creation</span>-->
<!--							<span>Branding</span>-->
<!--						</p>-->
<!--						<div style="min-height: 8em;" class="spacer hidden-xs"></div>-->
<!--						<a href="/jurassic-world">-->
<!--							<div class="img-wrapper img-wrapper&#45;&#45;right" >-->
<!--								&lt;!&ndash; <video class="img-responsive" autoplay="" loop="" muted="">-->
<!--									<source src="images/jurassic-world/jurassic-intro-sm.mp4" type="video/mp4">-->
<!--									</video> &ndash;&gt;-->
<!--									<img class="img-responsive background" src="images/jurassic-world/jurassic-intro-sm.png">-->

<!--								</div>-->
<!--							</a>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->


<!--			<div id="project-7" du-scrollspy="project-7" ciper-text class="fh5co-section fh5co-section&#45;&#45;white">-->
<!--				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">-->
<!--					<g class="left">-->
<!--						<text  x="-6%" y="58%" transform="scale(1.005)">-->
<!--							U-->
<!--						</text>-->
<!--						<text  x="-5.7%" y="58.3%" transform="scale(1.003)">-->
<!--							U-->
<!--						</text>-->
<!--						<text x="-5.4%" y="58.6%" transform="scale(1.001)">-->
<!--							U-->
<!--						</text>-->
<!--						<text x="-5.1%" y="58.9%" transform="scale(0.9989999999999999)">-->
<!--							U-->
<!--						</text>-->
<!--						<text  x="-4.8%" y="59.2%" transform="scale(0.9969999999999999)">-->
<!--							U-->
<!--						</text>-->
<!--						<text  x="-4.5%" y="59.5%" transform="scale(0.9949999999999999)">-->
<!--							U-->
<!--						</text>-->
<!--						<text x="-4.2%" y="59.8%" transform="scale(0.9929999999999999)">-->
<!--							U-->
<!--						</text>-->
<!--					</g>-->
<!--					<g class="right">-->
<!--						<text x="56%" y="80%" transform="scale(1.005)">-->
<!--							K-->
<!--						</text>-->
<!--						<text  x="55.7%" y="80.3%" transform="scale(1.003)">-->
<!--							K-->
<!--						</text>-->
<!--						<text  x="55.4%" y="80.6%" transform="scale(1.001)">-->
<!--							K-->
<!--						</text>-->
<!--						<text  x="55.1%" y="80.9%" transform="scale(0.9989999999999999)">-->
<!--							K-->
<!--						</text>-->
<!--						<text  x="54.8%" y="81.2%" transform="scale(0.9969999999999999)">-->
<!--							K-->
<!--						</text>-->
<!--						<text x="54.5%" y="81.5%" transform="scale(0.9949999999999999)">-->
<!--							K-->
<!--						</text>-->
<!--						<text  x="54.2%" y="81.8%" transform="scale(0.9929999999999999)">-->
<!--							K-->
<!--						</text>-->
<!--					</g>-->
<!--				</svg>-->
<!--				<div class="container-fluid">-->
<!--					<div class="row row-pb-md">-->
<!--						<div class="col-md-5 col-md-offset-1 fh5co-heading hidden-xs text-left" >-->
<!--							<p class="tags tags&#45;&#45;right">-->
<!--								<span>UX/UI Design</span>-->
<!--							</p>-->
<!--							<div style="min-height: 6em;" class="spacer hidden-xs"></div>-->
<!--							<a href="/universal">-->
<!--								<div class="img-wrapper img-wrapper&#45;&#45;left" style="box-shadow: none; background: none; overflow: visible;">-->
<!--									<img class="img-responsive" src="/images/universal-kids/ukids.png">-->
<!--					&lt;!&ndash; <video class="img-responsive" autoplay="" loop="" muted="">-->
<!--						<source src="/images/chiller/hover.mp4" type="video/mp4">-->
<!--						</source>-->
<!--					</video> &ndash;&gt;-->
<!--				</div>-->
<!--			</a>-->
<!--		</div>-->
<!--		<div class="col-md-4 col-md-offset-1 text-left fh5co-heading">-->
<!--			<div class="image-group image-group&#45;&#45;layered1">-->
<!--				<img class="img-responsive background" src="images/universal-kids/ukids-small.jpg">-->
<!--				<img class="img-responsive foreground" src="images/universal-kids/ukids-small1.jpg">-->
<!--&lt;!&ndash;             <video class="img-responsive background" autoplay="" loop="" muted="">-->
<!--							<source src="/images/universal-kids/.mp4" type="video/mp4">-->
<!--							</video>-->
<!--							<video class="img-responsive foreground" autoplay="" loop="" muted="">-->
<!--								<source src="/images/universal-kids/-sm.mp4" type="video/mp4">-->
<!--								</video>&ndash;&gt;-->
<!--							</div>-->
<!--							<div style="min-height: 6em;" class="spacer hidden-xs"></div>-->
<!--							<h3 class="cipher-text" cipher-data="Universal Kids">Universal Kids</h3>-->
<!--							<p split-text>We’re all about elevating the user experience. In a collaboration with Universal Kids, we helped revamp the Channel Finder feature by making it more kid-friendly. We even refined the homepage carousel, so our little friends can click with ease as they browse their favorite toons.</p>-->
<!--							<div class="links">-->
<!--								<a href="/universal-kids"><span>Continue</span><div class="underline"></div></a>-->
<!--								<a href="//universalkids.com/" target="_blank"><span>Visit Website</span><div class="underline"></div></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->


<!--			<div id="project-8" du-scrollspy="project-8" ciper-text class="fh5co-section fh5co-section&#45;&#45;white">-->
<!--				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">-->
<!--					<g class="left">-->
<!--						<text  x="2%" y="58%" transform="scale(1.005)">-->
<!--							L-->
<!--						</text>-->
<!--						<text  x="2.3%" y="58.3%" transform="scale(1.003)">-->
<!--							L-->
<!--						</text>-->
<!--						<text  x="2.6%" y="58.6%" transform="scale(1.001)">-->
<!--							L-->
<!--						</text>-->
<!--						<text  x="2.9%" y="58.9%" transform="scale(0.9989999999999999)">-->
<!--							L-->
<!--						</text>-->
<!--						<text  x="3.2%" y="59.2%" transform="scale(0.9969999999999999)">-->
<!--							L-->
<!--						</text>-->
<!--						<text  x="3.5%" y="59.5%" transform="scale(0.9949999999999999)">-->
<!--							L-->
<!--						</text>-->
<!--						<text  x="3.8%" y="59.8%" transform="scale(0.9929999999999999)">-->
<!--							L-->
<!--						</text>-->
<!--					</g>-->
<!--					<g class="right">-->
<!--						<text  x="56%" y="80%" transform="scale(1.005)">-->
<!--							X-->
<!--						</text>-->
<!--						<text x="55.7%" y="80.3%" transform="scale(1.003)">-->
<!--							X-->
<!--						</text>-->
<!--						<text x="55.4%" y="80.6%" transform="scale(1.001)">-->
<!--							X-->
<!--						</text>-->
<!--						<text  x="55.1%" y="80.9%" transform="scale(0.9989999999999999)">-->
<!--							X-->
<!--						</text>-->
<!--						<text  x="54.8%" y="81.2%" transform="scale(0.9969999999999999)">-->
<!--							X-->
<!--						</text>-->
<!--						<text  x="54.5%" y="81.5%" transform="scale(0.9949999999999999)">-->
<!--							X-->
<!--						</text>-->
<!--						<text  x="54.2%" y="81.8%" transform="scale(0.9929999999999999)">-->
<!--							X-->
<!--						</text>-->
<!--					</g>-->
<!--				</svg>-->
<!--				<div class="container-fluid">-->
<!--					<div class="row row-pb-md">-->
<!--						<div class="col-md-5 col-md-offset-1 fh5co-heading text-left" >-->
<!--							<p class="tags tags&#45;&#45;right hidden-xs">-->
<!--								<span>UX/UI Design</span>-->
<!--								<span>UI Development</span>-->
<!--								<span>Prototyping</span>-->
<!--								<span>Front-End Dev</span>-->
<!--								<span>Asset Creation</span>-->
<!--								<span>Branding</span>-->
<!--							</p>-->
<!--							<div style="min-height: 6em;" class="spacer hidden-xs"></div>-->
<!--							<a href="/lorax">-->
<!--								<div class="img-wrapper img-wrapper&#45;&#45;left" >-->
<!--									<img class="img-responsive" src="images/lorax/sewer.gif">-->
<!--								</div>-->
<!--							</a>-->
<!--						</div>-->
<!--						<div class="col-md-4 col-md-offset-1 text-left fh5co-heading">-->
<!--							<div class="image-group image-group&#45;&#45;layered1 hidden-xs">-->
<!--								<img class="img-responsive background" src="/images/lorax/audrey.jpg">-->
<!--&lt;!&ndash;               <video class="img-responsive background" autoplay="" loop="" muted="">-->
<!--								<source src="/images/lorax/audrey.mp4" type="video/mp4">-->
<!--								</video> &ndash;&gt;-->
<!--								<img class="img-responsive foreground" src="images/lorax/marshmallow-sm.gif">-->

<!--							</div>-->
<!--							<div style="min-height: 5em;" class="spacer hidden-xs"></div>-->
<!--							<h3 class="cipher-text" cipher-data="The Lorax">The Lorax</h3>-->
<!--							<p split-text>To promote the Universal Pictures film, The Lorax, we got the chance to revisit one of our favorite childhood tales. This endearing animation inspired our ideation, design, development, and deployment of the film site. In order to serve up a fuller Dr. Seuss experience, we even created a “Meet the Characters” feature underscoring our highly interactive cinemagraph.</p>-->
<!--							<div class="links">-->
<!--								<a href="/lorax"><span>Continue</span><div class="underline"></div></a>-->
<!--								<a href="//universal-pictures.nbcuxlab.com/the-lorax/" target="_blank"><span>Visit Website</span><div class="underline"></div></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->


<!--			<div id="project-9" du-scrollspy="project-9" class="fh5co-section fh5co-section&#45;&#45;white" ciper-text>-->
<!--				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">-->
<!--					<g class="left">-->
<!--						<text  x="-6%" y="55%" transform="scale(1.005)">-->
<!--							M-->
<!--						</text>-->
<!--						<text  x="-5.7%" y="55.3%" transform="scale(1.003)">-->
<!--							M-->
<!--						</text>-->
<!--						<text  x="-5.4%" y="55.6%" transform="scale(1.001)">-->
<!--							M-->
<!--						</text>-->
<!--						<text  x="-5.1%" y="55.9%" transform="scale(0.9989999999999999)">-->
<!--							M-->
<!--						</text>-->
<!--						<text  x="-4.8%" y="56.2%" transform="scale(0.9969999999999999)">-->
<!--							M-->
<!--						</text>-->
<!--						<text  x="-4.5%" y="56.5%" transform="scale(0.9949999999999999)">-->
<!--							M-->
<!--						</text>-->
<!--						<text x="-4.2%" y="56.8%" transform="scale(0.9929999999999999)">-->
<!--							M-->
<!--						</text>-->
<!--					</g>-->
<!--					<g class="right">-->
<!--						<text  x="66%" y="75%" transform="scale(1.005)">-->
<!--							D-->
<!--						</text>-->
<!--						<text  x="65.7%" y="75.3%" transform="scale(1.003)">-->
<!--							D-->
<!--						</text>-->
<!--						<text  x="65.4%" y="75.6%" transform="scale(1.001)">-->
<!--							D-->
<!--						</text>-->
<!--						<text x="65.1%" y="75.9%" transform="scale(0.9989999999999999)">-->
<!--							D-->
<!--						</text>-->
<!--						<text x="64.8%" y="76.2%" transform="scale(0.9969999999999999)">-->
<!--							D-->
<!--						</text>-->
<!--						<text x="64.5%" y="76.5%" transform="scale(0.9949999999999999)">-->
<!--							D-->
<!--						</text>-->
<!--						<text  x="64.2%" y="76.8%" transform="scale(0.9929999999999999)">-->
<!--							D-->
<!--						</text>-->
<!--					</g>-->
<!--				</svg>-->
<!--				<div class="container-fluid">-->
<!--					<div class="row row-pb-md">-->
<!--						<div class="col-md-4 col-md-offset-1 text-left fh5co-heading text-left">-->
<!--							<div style="min-height: 8em;" class="spacer hidden-xs"></div>-->
<!--							<h3 class="cipher-text" cipher-data="MVPD">MVPD</h3>-->
<!--							<p split-text>After taking copious hours to understand the multi-video platform distributor (MVPD) admin tool, we took on the challenge of improving the workflow within the parameters of the current system. Although it was certainly an exercise in delivering the best UX while working within boundaries, we ended up with a system that streamlines users’ workflow and makes their jobs easier.</p>-->
<!--							<div class="links">-->
<!--								<a href="/mvpd"><span>Continue</span><div class="underline"></div></a>-->
<!--								<a href="//mvpd.nbcuxlab.com" target="_blank"><span>Visit Website</span><div class="underline"></div></a>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-md-5 col-md-offset-1 fh5co-heading text-right">-->
<!--							<p class="tags tags&#45;&#45;right hidden-xs">-->
<!--								<span>UX Research</span>-->
<!--								<span>UX/UI Design</span>-->
<!--							</p>-->
<!--							<div style="min-height: 4em;" class="spacer hidden-xs"></div>-->
<!--							<a href="/mvpd">-->
<!--								<div class="img-wrapper img-wrapper&#45;&#45;right">-->
<!--									<img class="img-responsive" src="images/mvpd/MVPD_old.jpg">-->
<!--					&lt;!&ndash; <video class="img-responsive" autoplay="" loop="" muted="">-->
<!--						<source src="/images/mvpd/MVPD.mp4" type="video/mp4">-->
<!--						</video> &ndash;&gt;-->
<!--					</div>-->
<!--				</a>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->


<!--<div id="project-10" du-scrollspy="project-10" ciper-text class="fh5co-section fh5co-section&#45;&#45;white">-->
<!--	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">-->
<!--		<g class="left">-->
<!--			<text  x="0%" y="59%" transform="scale(1.005)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="0.3%" y="59.3%" transform="scale(1.003)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="0.6%" y="59.6%" transform="scale(1.001)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="0.8999999999999999%" y="59.9%" transform="scale(0.9989999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="1.2%" y="60.2%" transform="scale(0.9969999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text x="1.5%" y="60.5%" transform="scale(0.9949999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="1.7999999999999998%" y="60.8%" transform="scale(0.9929999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--		</g>-->
<!--		<g class="right">-->
<!--			<text  x="56%" y="90%" transform="scale(1.005)">-->
<!--				R-->
<!--			</text>-->
<!--			<text  x="55.7%" y="90.3%" transform="scale(1.003)">-->
<!--				R-->
<!--			</text>-->
<!--			<text  x="55.4%" y="90.6%" transform="scale(1.001)">-->
<!--				R-->
<!--			</text>-->
<!--			<text  x="55.1%" y="90.9%" transform="scale(0.9989999999999999)">-->
<!--				R-->
<!--			</text>-->
<!--			<text  x="54.8%" y="91.2%" transform="scale(0.9969999999999999)">-->
<!--				R-->
<!--			</text>-->
<!--			<text  x="54.5%" y="91.5%" transform="scale(0.9949999999999999)">-->
<!--				R-->
<!--			</text>-->
<!--			<text x="54.2%" y="91.8%" transform="scale(0.9929999999999999)">-->
<!--				R-->
<!--			</text>-->
<!--		</g>-->
<!--	</svg>-->
<!--	<div class="container-fluid">-->
<!--		<div class="row row-pb-md">-->
<!--			<div class="col-md-5 col-md-offset-1 fh5co-heading hidden-xs text-left" >-->
<!--				<p class="tags tags&#45;&#45;right">-->
<!--					<span>UX Research</span>-->
<!--					<span>Product Requirements</span>-->
<!--					<span>UX/UI Design</span>-->
<!--					<span>UI Development</span>-->
<!--					<span>Prototyping</span>-->
<!--					<span>User Testing</span>-->
<!--					<span>Branding</span>-->
<!--					<span>Front-End Dev</span>-->
<!--				</p>-->
<!--				<div style="min-height: 6em;" class="spacer hidden-xs"></div>-->
<!--				<a href="/chiller">-->
<!--					<div class="img-wrapper img-wrapper&#45;&#45;left">-->
<!--						<img class="img-responsive" src="images/chiller/slasher.jpg">-->
<!--					&lt;!&ndash; <video class="img-responsive" autoplay="" loop="" muted="">-->
<!--						<source src="/images/chiller/hover.mp4" type="video/mp4">-->
<!--						</source>-->
<!--					</video> &ndash;&gt;-->
<!--				</div>-->
<!--			</a>-->
<!--		</div>-->
<!--		<div class="col-md-4 col-md-offset-1 text-left fh5co-heading">-->
<!--			<div class="image-group image-group&#45;&#45;layered1">-->
<!--				<img class="img-responsive background" src="images/chiller/hover.gif">-->
<!--				<img class="img-responsive foreground" src="images/chiller/imagery-altered.jpg">-->
<!--				&lt;!&ndash; <video class="img-responsive foreground" autoplay="" loop="" muted="">-->
<!--					<source src="" type="video/mp4">-->
<!--					</source>-->
<!--				</video> &ndash;&gt;-->
<!--			</div>-->
<!--			<div style="min-height: 6em;" class="spacer hidden-xs"></div>-->
<!--			<h3 class="cipher-text" cipher-data="Chiller">Chiller</h3>-->
<!--			<p split-text>We were asked to give our fresh take and re-design the consumer-facing site to mirror Chiller TV network’s brand refresh. Chiller was the first brand to be powered by the new Concerto CMS system we worked on.</p>-->
<!--			<div class="links">-->
<!--				<a href="/chiller"><span>Continue</span><div class="underline"></div></a>-->
<!--				<a href="//chiller-branding.nbcuxlab.com/" target="_blank"><span>Visit Website</span><div class="underline"></div></a>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--</div>-->


<!--<div id="project-11" du-scrollspy="project-11" ciper-text class="fh5co-section fh5co-section&#45;&#45;white">-->
<!--	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">-->
<!--		<g class="right">-->
<!--			<text  x="50%" y="60%" transform="scale(1.005)">-->
<!--				O-->
<!--			</text>-->
<!--			<text  x="50.3%" y="60.3%" transform="scale(1.003)">-->
<!--				O-->
<!--			</text>-->
<!--			<text  x="50.6%" y="60.6%" transform="scale(1.001)">-->
<!--				O-->
<!--			</text>-->
<!--			<text  x="50.9%" y="60.9%" transform="scale(0.9989999999999999)">-->
<!--				O-->
<!--			</text>-->
<!--			<text x="51.2%" y="61.2%" transform="scale(0.9969999999999999)">-->
<!--				O-->
<!--			</text>-->
<!--			<text  x="51.5%" y="61.5%" transform="scale(0.9949999999999999)">-->
<!--				O-->
<!--			</text>-->
<!--			<text  x="51.8%" y="61.8%" transform="scale(0.9929999999999999)">-->
<!--				O-->
<!--			</text>-->
<!--		</g>-->
<!--		<g class="left">-->
<!--			<text  x="6%" y="83%" transform="scale(1.005)">-->
<!--				C-->
<!--			</text>-->
<!--			<text x="5.7%" y="83.3%" transform="scale(1.003)">-->
<!--				C-->
<!--			</text>-->
<!--			<text x="5.4%" y="83.6%" transform="scale(1.001)">-->
<!--				C-->
<!--			</text>-->
<!--			<text x="5.1%" y="83.9%" transform="scale(0.9989999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="4.8%" y="84.2%" transform="scale(0.9969999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="4.5%" y="84.5%" transform="scale(0.9949999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--			<text  x="4.2%" y="84.8%" transform="scale(0.9929999999999999)">-->
<!--				C-->
<!--			</text>-->
<!--		</g>-->
<!--	</svg>-->
<!--	<div class="container-fluid">-->
<!--		<div class="row row-pb-md">-->
<!--			<div class="col-md-4 col-md-offset-1 text-left fh5co-heading">-->
<!--				&lt;!&ndash; <div class="image-group image-group&#45;&#45;layered1"> &ndash;&gt;-->
<!--					&lt;!&ndash; <img class="img-responsive background" src="images/concerto/promo__collection.png"> &ndash;&gt;-->
<!--				&lt;!&ndash; <video class="img-responsive background" autoplay="" loop="" muted="">-->
<!--					<source src="/images/concerto/media.mp4" type="video/mp4">-->
<!--				</video>-->
<!--				<video class="img-responsive foreground" autoplay="" loop="" muted="">-->
<!--					<source src="/images/concerto/dragging.mp4" type="video/mp4">-->
<!--					</video> &ndash;&gt;-->

<!--					&lt;!&ndash; </div> &ndash;&gt;-->
<!--					<div style="min-height: 12em;" class="spacer hidden-xs"></div>-->
<!--					<h3 class="cipher-text" cipher-data="Concerto">Concerto</h3>-->
<!--					<p split-text>The Concerto CMS was created to power NBCUniversal entertainment brands’ consumer-facing sites. We tailored a more efficient workflow and created a design language with flexibility catered to the brands' diverse needs.</p>-->
<!--					<div class="links">-->
<!--						<a href="/concerto"><span>Continue</span><div class="underline"></div></a>-->
<!--						<a href="//concerto.nbcuxlab.com/introduction/process.html" target="_blank"><span>Visit Website</span><div class="underline"></div></a>-->
<!--						&lt;!&ndash; <a class=" hidden-xs" href="//concerto.nbcuxlab.com/concerto/prototypes.html" target="_blank"><span>Visit Prototype</span><div class="underline"></div></a> &ndash;&gt;-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-5 col-md-offset-1 fh5co-heading text-right" >-->
<!--					<p class="tags tags&#45;&#45;right hidden-xs">-->
<!--						<span>UX Research</span>-->
<!--						<span>Product Requirements</span>-->
<!--						<span>UX/UI Design</span>-->
<!--						<span>UI Development</span>-->
<!--						<span>Prototyping</span>-->
<!--						<span>Front-End Dev</span>-->
<!--						<span>Usability Testing</span>-->
<!--					</p>-->
<!--					<div style="min-height: 6em;" class="spacer hidden-xs"></div>-->
<!--					<a href="/concerto">-->
<!--						<div class="img-wrapper img-wrapper&#45;&#45;right">-->
<!--							<img class="img-responsive" src="images/concerto/rectangles.gif">-->
<!--						</div>-->
<!--					</a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->






