<div id="project-7" du-scrollspy="project-7" class="fh5co-section fh5co-section--white" ciper-text>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
    <g class="left">
      <text ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
      ng-x="{{-6 + ((i - 1) * 0.3)}}%" 
      ng-y="{{55 + ((i - 1) * 0.3)}}%"
      ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
      M
    </text>
  </g>
  <g class="right">
    <text ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
    ng-x="{{66 - ((i - 1) * 0.3)}}%" 
    ng-y="{{75 + ((i - 1) * 0.3)}}%"
    ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
    D
  </text>
</g>
</svg>
  <div class="container-fluid">
  <div class="row row-pb-md">
    <div class="col-md-4 col-md-offset-1 text-left fh5co-heading text-left">
      <div style="min-height: 8em;" class="spacer hidden-xs"></div>
      <h3 class="cipher-text">MVPD</h3>
      <p split-text>After taking copious hours to understand the multi-video platform distributor (MVPD) admin tool, we took on the challenge of improving the workflow within the parameters of the current system. Although it was certainly an exercise in delivering the best UX while working within boundaries, we ended up with a system that streamlines users’ workflow and makes their jobs easier.</p>
      <div class="links">
        <a class=" hidden-xs" href="/mvpd"><span>Continue</span><div class="underline"></div></a>
        <a class=" hidden-xs" href="//mvpd.nbcuxlab.com" target="_blank"><span>Visit Website</span><div class="underline"></div></a>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1 hidden-xs fh5co-heading text-right">
      <p class="tags tags--right">
        <span>UX Research</span>
        <span>UX/UI Design</span>
      </p>
      <div style="min-height: 4em;" class="spacer hidden-xs"></div>
      <a href="/mvpd">
        <div class="img-wrapper img-wrapper--right">
          <img class="img-responsive" src="images/mvpd/MVPD_old.jpg">
          <!-- <video class="img-responsive" autoplay="" loop="" muted="">
            <source src="/images/mvpd/MVPD.mp4" type="video/mp4">
            </video> -->
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


