<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <div id="project-0" du-scrollspy="project-0" class="fh5co-section process__side" ciper-text>
    <div class="fh5co-heading">
      <h3 class="cipher-text" cipher-data="Hi, My name is Valeriia!">Hi, My name is Valeriia!</h3>
      <p split-text>I’m a UX Designer with experience in UX research. I always curious and eager
        to learn, focused on exploring different options to find the best solution. I have a
        unique ability to analyze things and find the root of the problem. I can deal with
        difficult things and can be trusted to work well.
       </p>
      <p split-text> I always want to maintain a sense of wonder, curiosity, and the ability to look at
        the world with fresh eyes. Here is how I see  my ideal UX/UI workflow.</p>
    </div>
  </div>

  <div class="process" id='process' process-diagram>
    <ul class="process__list">
      <svg class="center" viewBox="0 0 100 100" id="center">
        <defs>
          <linearGradient id='grad-arc-1'>
            <stop stop-color='#FF6701'/>
            <stop offset='100%' stop-color='#EA610C'/>
          </linearGradient>
          <linearGradient id='grad-arc-2'>
            <stop stop-color='#EA610C'/>
            <stop offset='100%' stop-color='#D45B17'/>
          </linearGradient>
          <linearGradient id='grad-arc-3'>
            <stop stop-color='#D45B17'/>
            <stop offset='100%' stop-color='#BF5522'/>
          </linearGradient>
          <linearGradient id='grad-arc-4'>
            <stop stop-color='#BF5522'/>
            <stop offset='100%' stop-color='#A94F2E'/>
          </linearGradient>
          <linearGradient id='grad-arc-5'>
            <stop stop-color='#A94F2E'/>
            <stop offset='100%' stop-color='#944939'/>
          </linearGradient>
          <linearGradient id='grad-arc-6'>
            <stop stop-color='#944939'/>
            <stop offset='100%' stop-color='#7E4344'/>
          </linearGradient>
          <linearGradient id='grad-arc-7'>
            <stop stop-color='#7E4344'/>
            <stop offset='100%' stop-color='#693D4F'/>
          </linearGradient>
          <linearGradient id='grad-arc-8'>
            <stop stop-color='#693D4F'/>
            <stop offset='100%' stop-color='#FF6701'/>
          </linearGradient>
        </defs>

        <path class="circle__arc circle__arc-1" id="circle__arc-1" vector-effect="non-scaling-stroke"></path>
        <path class="circle__arc circle__arc-2" id="circle__arc-2"></path>
        <path class="circle__arc circle__arc-3" id="circle__arc-3"></path>
        <path class="circle__arc circle__arc-4" id="circle__arc-4"></path>
        <path class="circle__arc circle__arc-5" id="circle__arc-5"></path>
        <path class="circle__arc circle__arc-6" id="circle__arc-6"></path>
        <path class="circle__arc circle__arc-7" id="circle__arc-7"></path>
        <path class="circle__arc circle__arc-8" id="circle__arc-8"></path>


        <path class="step__arc step__arc-1" id="step__arc-1"></path>
        <path class="step__arc step__arc-2" id="step__arc-2"></path>
        <path class="step__arc step__arc-3" id="step__arc-3"></path>
        <path class="step__arc step__arc-4" id="step__arc-4"></path>
        <path class="step__arc step__arc-5" id="step__arc-5"></path>
        <path class="step__arc step__arc-6" id="step__arc-6"></path>
        <path class="step__arc step__arc-7" id="step__arc-7"></path>
        <path class="step__arc step__arc-8" id="step__arc-8"></path>
      </svg>
      <h1 class="title">User Experience Process</h1>

      <!-- STEP-1 — DISCOVERY -->
      <li class="step step-1" id="step-1">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">1</div>
        <div class="step__info">
          <div class="step__header">
            <div class="step__icon">
              <img class="step__svg" src="../images/about/discovery.svg" width="48px" />
            </div>
            <div class="step__title">Discovery</div>
          </div>
          <div class="step__text">
            I interview the users to understand their current process and workflow.
          </div>
          <div class="step__role">
            The UX Design team <br />
            &amp; Product team
          </div>
        </div>
      </li>

      <!-- STEP-2 — IDEATION -->
      <li class="step step-2" id="step-2">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">2</div>
        <div class="step__info" id="step__info-2">
          <div class="step__header">
            <div class="step__icon">
              <img class="step__svg" src="../images/about/ideation.svg" width="42px" />
            </div>
            <div class="step__title">Ideation</div>
          </div>
          <div class="step__text">
            I meet with product owners and developers to generate ideas around the feature.
          </div>
          <div class="step__role">
            The UX Design team <br/>
            &amp; Product team<br/>
            &amp; Dev team<br/>
          </div>
        </div>
      </li>

      <!-- STEP-3 — WIREFRAME -->
      <li class="step step-3" id="step-3">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">3</div>
        <div class="step__info" id="step__info-3">
          <div class="step__header">
            <div class="step__icon">
              <img class="step__svg" src="../images/about/wireframes.svg" width="54px" />
            </div>
            <div class="step__title">Wireframe</div>
          </div>
          <div class="step__text">
            I consolidate the ideas and create a wireframe to communicate the design and functionality with the developers.
          </div>
          <div class="step__role">
            Joheun <br />
            <span style="font-size:12px">UX Design &amp; Research</span>
          </div>
        </div>
      </li>

      <!-- STEP-4 — PROTOTYPE -->
      <li class="step step-4" id="step-4">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">4</div>
        <div class="step__info">
          <div class="step__header">
            <div class="step__icon">
              <img class="step__svg" src="../images/about/prototype.svg" width="54px" />
            </div>
            <div class="step__title">Prototype</div>
          </div>
          <div class="step__text">
            I create a responsive and clickable prototype.
          </div>
          <div class="step__role">
            <span style="font-size:12px">UX/UI Design</span> <br />
            <span style="font-size:12px">UI/UX Design</span>
          </div>
        </div>
      </li>

      <!-- STEP-5 — USER TESTING -->
      <li class="step step-5" id="step-5">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">5</div>
        <div class="step__info">
          <div class="step__header">
            <div class="step__icon">
              <img class="step__svg" src="../images/about/testing.svg" width="54px" />
            </div>
            <div class="step__title">User Testing</div>
          </div>
          <div class="step__text">
            I test the prototype using Usability Testing methods to gather thorough feedback.
          </div>
          <div class="step__role">
            The UX Design team,<br />led by Joheun
          </div>
        </div>
      </li>

      <!-- STEP-6 — EXPERIENCE MAPPING -->
      <li class="step step-6" id="step-6">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">6</div>
        <div class="step__info">
          <div class="step__header">
            <div class="step__icon">
              <img class="step__svg" src="../images/about/maping.svg" width="60px" />
            </div>
            <div class="step__title">Experience Mapping</div>
          </div>
          <div class="step__text">
            I synthesize the feedback and map the users' experience with the prototype to improve it in the future iterations.
          </div>
          <div class="step__role">
            The UX Design team
          </div>
        </div>
      </li>

      <!-- STEP-7 — MODIFY & BACKLOG -->
      <li class="step step-7" id="step-7">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">7</div>
        <div class="step__info">
          <div class="step__header">
            <div class="step__icon">
              <img class="step__svg" src="../images/about/backlog.svg" width="42px" />
            </div>
            <div class="step__title">Modify and Backlog</div>
          </div>
          <div class="step__text">
            I make changes to the prototype and list the possible improvements for the future.
          </div>
          <div class="step__role">
            <span style="font-size:12px">UX/UI Design</span><br />
            <span style="font-size:12px">UI/UX Design</span>
          </div>
        </div>
      </li>

      <!-- STEP-8 — REFINING -->
      <li class="step step-8" id="step-8">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">8</div>
        <div class="step__info">
          <div class="step__header">
            <div class="step__icon">
              <img class="step__svg" src="../images/about/brand.svg" width="42px" />
            </div>
            <div class="step__title">Refining</div>
          </div>
          <div class="step__text">
            I refine and iterate on the design to further improve the users' experience.
          </div>
          <div class="step__role">
            The UX Design team
          </div>
        </div>
      </li>
    </ul>
  </div>


