<div id="page">
	<nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>
	<div class="timeline-container" du-spy-context>
		<div id="project-0" du-scrollspy="project-0" class="fh5co-timeline">
			<div class="line"></div>
			<h1 class="large">We helped <span>Chiller</span> refresh their brand and redesign their front-end.</h1>
			<a class="link" style="opacity:0;">See the Case Study</a>
			<br>
		</div>
		<div id="project-1" du-scrollspy="project-1" class="fh5co-timeline fh5co-timeline--long fh5co-timeline--panoramic">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
				<g class="left">
					<text class="small" x="5.0%" y="30%" transform="scale(1.005)">
						UX
					</text>
					<text class="small" x="5.3%" y="30.3%" transform="scale(1.003)">
						UX
					</text>
					<text class="small" x="5.6%" y="30.6%" transform="scale(1.001)">
						UX
					</text>
					<text class="small" x="5.9%" y="30.9%" transform="scale(0.9989999999999999)">
						UX
					</text>
					<text class="small" x="6.2%" y="31.2%" transform="scale(0.9969999999999999)">
						UX
					</text>
					<text class="small" x="6.5%" y="31.5%" transform="scale(0.9949999999999999)">
						UX
					</text>
					<text class="small" x="6.8%" y="31.8%" transform="scale(0.9929999999999999)">
						UX
					</text>
				</g>
				<g class="right">
					<text class="small" x="55.0%" y="50%" transform="scale(1.005)">
						Design
					</text>
					<text class="small" x="55.3%" y="50.3%" transform="scale(1.003)">
						Design
					</text>
					<text class="small" x="55.6%" y="50.6%" transform="scale(1.001)">
						Design
					</text>
					<text class="small" x="55.9%" y="50.9%" transform="scale(0.9989999999999999)">
						Design
					</text>
					<text class="small" x="56.2%" y="51.2%" transform="scale(0.9969999999999999)">
						Design
					</text>
					<text class="small" x="56.5%" y="51.5%" transform="scale(0.9949999999999999)">
						Design
					</text>
					<text class="small" x="56.8%" y="51.8%" transform="scale(0.9929999999999999)">
						Design
					</text>
				</g>
				<g class="left">
					<text class="small" x="2.0%" y="80%" transform="scale(1.005)">
						Branding
					</text>
					<text class="small" x="2.3%" y="80.3%" transform="scale(1.003)">
						Branding
					</text>
					<text class="small" x="2.6%" y="80.6%" transform="scale(1.001)">
						Branding
					</text>
					<text class="small" x="2.9%" y="80.9%" transform="scale(0.9989999999999999)">
						Branding
					</text>
					<text class="small" x="3.2%" y="81.2%" transform="scale(0.9969999999999999)">
						Branding
					</text>
					<text class="small" x="3.5%" y="81.5%" transform="scale(0.9949999999999999)">
						Branding
					</text>
					<text class="small" x="3.8%" y="81.8%" transform="scale(0.9929999999999999)">
						Branding
					</text>
				</g>
			</svg>
			<div class="line"></div>
			<div class="timeline-content timeline-content--right timeline-content--crop-32-29">
				<a href="//chiller-branding.nbcuxlab.com/Prototype/Full/" target="_blank" class="img-mask">
					<div class="mask">
						<object data="/images/chiller/prototype.svg" class="" type="image/svg+xml"></object>
					</div>
				</a>
				<div class="copy copy--masking">
					<h2>Front-End Prototype</h2>
					<p>We like to put on our lab goggles and create high-fidelity front-end prototypes to test our ideas and assess functionality. Seeing our vision come to life also allows us to tinker and tweak any new insight or issues we may come across.</p>
					<div class="links">
						<a href="//chiller-branding.nbcuxlab.com/Prototype/Full/" target="_blank">
							<div class="underline-button"></div>
							<span>Visit Prototype</span>
							<div class="underline"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="project-2" du-scrollspy="project-2" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
				<g class="right">
					<text class="small" x="55.0%" y="25%" transform="scale(1.005)">
						Approach
					</text>
					<text class="small" x="55.3%" y="25.3%" transform="scale(1.003)">
						Approach
					</text>
					<text class="small" x="55.6%" y="25.6%" transform="scale(1.001)">
						Approach
					</text>
					<text class="small" x="55.9%" y="25.9%" transform="scale(0.9989999999999999)">
						Approach
					</text>
					<text class="small" x="56.2%" y="26.2%" transform="scale(0.9969999999999999)">
						Approach
					</text>
					<text class="small" x="56.5%" y="26.5%" transform="scale(0.9949999999999999)">
						Approach
					</text>
					<text class="small" x="56.8%" y="26.8%" transform="scale(0.9929999999999999)">
						Approach
					</text>
				</g>
				<g class="left">
					<text class="small" x="0.0%" y="60%" transform="scale(1.005)">
						Continual
					</text>
					<text class="small" x="0.3%" y="60.3%" transform="scale(1.003)">
						Continual
					</text>
					<text class="small" x="0.6%" y="60.6%" transform="scale(1.001)">
						Continual
					</text>
					<text class="small" x="0.9%" y="60.9%" transform="scale(0.9989999999999999)">
						Continual
					</text>
					<text class="small" x="1.2%" y="61.2%" transform="scale(0.9969999999999999)">
						Continual
					</text>
					<text class="small" x="1.5%" y="61.5%" transform="scale(0.9949999999999999)">
						Continual
					</text>
					<text class="small" x="1.8%" y="61.8%" transform="scale(0.9929999999999999)">
						Continual
					</text>
				</g>
			</svg>
			<div class="line"></div>
			<div class="timeline-content timeline-content--left timeline-content--crop-32-32">
				<a href="//chiller-branding.nbcuxlab.com/Prototype/Full/" target="_blank" class="img-mask">
					<div class="mask">
						<object data="/images/chiller/mobile.svg" class="" type="image/svg+xml"></object>
					</div>
				</a>
				<div class="copy copy--masking">
					<h2>Mobile-First Design</h2>
					<p> As with all of our prototypes, we like to flip the status quo and take  a mobile-first design approach. We start our design process with mobile constraints and considerations and then work our way up to desktop. The mobile-first approach organically led us to a design that’s more content-focused, and therefore more user-focused. </p>
					<div class="links">
						<a href="//chiller-branding.nbcuxlab.com/Prototype/Full/" target="_blank">
							<div class="underline-button"></div>
							<span>Visit Prototype</span>
							<div class="underline"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="project-3" du-scrollspy="project-3" class="fh5co-timeline fh5co-timeline--medium">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
				<g class="left">
					<text class="small" x="0.0%" y="30%" transform="scale(1.005)">
						Branding
					</text>
					<text class="small" x="0.3%" y="30.3%" transform="scale(1.003)">
						Branding
					</text>
					<text class="small" x="0.6%" y="30.6%" transform="scale(1.001)">
						Branding
					</text>
					<text class="small" x="0.9%" y="30.9%" transform="scale(0.9989999999999999)">
						Branding
					</text>
					<text class="small" x="1.2%" y="31.2%" transform="scale(0.9969999999999999)">
						Branding
					</text>
					<text class="small" x="1.5%" y="31.5%" transform="scale(0.9949999999999999)">
						Branding
					</text>
					<text class="small" x="1.8%" y="31.8%" transform="scale(0.9929999999999999)">
						Branding
					</text>
				</g>
				<g class="right">
					<text class="small" x="53.0%" y="60%" transform="scale(1.005)">
						Production
					</text>
					<text class="small" x="53.3%" y="60.3%" transform="scale(1.003)">
						Production
					</text>
					<text class="small" x="53.6%" y="60.6%" transform="scale(1.001)">
						Production
					</text>
					<text class="small" x="53.9%" y="60.9%" transform="scale(0.9989999999999999)">
						Production
					</text>
					<text class="small" x="54.2%" y="61.2%" transform="scale(0.9969999999999999)">
						Production
					</text>
					<text class="small" x="54.5%" y="61.5%" transform="scale(0.9949999999999999)">
						Production
					</text>
					<text class="small" x="54.8%" y="61.8%" transform="scale(0.9929999999999999)">
						Production
					</text>
				</g>
			</svg>
			<div class="line"></div>
			<div class="timeline-content timeline-content--right">
				<a href="//chiller-branding.nbcuxlab.com/Guide/index.html" target="_blank" class="img-mask">
					<div class="mask">
						<img src="images/chiller/z-nation.jpg">
						<object data="/images/chiller/z-nation-logo.svg" class="" type="image/svg+xml"></object>
					</div>
				</a>
				<div class="copy copy--masking">
					<h2>Style Guide</h2>
					<p>Using an initial design guide, we experimented with elements like the slice animation and a new color palette. Our ideas are all housed in a live coded document that demonstrates our thought process and development from ideation to the final design.</p>
					<div class="links">
						<a href="//chiller-branding.nbcuxlab.com/Guide/index.html" target="_blank">
							<div class="underline-button"></div>
							<span>Visit Style Guide</span>
							<div class="underline"></div>
						</a>
					</div>
				</div>
			</div>
		</div>


		<div id="project-4" du-scrollspy="project-4" class="fh5co-timeline fh5co-timeline--medium">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
			</g>
			<g class="left">
				<text class="small" x="0.0%" y="25%" transform="scale(1.005)">
					Paradigm
				</text>
				<text class="small" x="0.3%" y="25.3%" transform="scale(1.003)">
					Paradigm
				</text>
				<text class="small" x="0.6%" y="25.6%" transform="scale(1.001)">
					Paradigm
				</text>
				<text class="small" x="0.9%" y="25.9%" transform="scale(0.9989999999999999)">
					Paradigm
				</text>
				<text class="small" x="1.2%" y="26.2%" transform="scale(0.9969999999999999)">
					Paradigm
				</text>
				<text class="small" x="1.5%" y="26.5%" transform="scale(0.9949999999999999)">
					Paradigm
				</text>
				<text class="small" x="1.8%" y="26.8%" transform="scale(0.9929999999999999)">
					Paradigm
				</text>
			</g>
			<g class="right">
				<text class="small" x="54.0%" y="55%" transform="scale(1.005)">
					Compatibility
				</text>
				<text class="small" x="54.3%" y="55.3%" transform="scale(1.003)">
					Compatibility
				</text>
				<text class="small" x="54.6%" y="55.6%" transform="scale(1.001)">
					Compatibility
				</text>
				<text class="small" x="54.9%" y="55.9%" transform="scale(0.9989999999999999)">
					Compatibility
				</text>
				<text class="small" x="55.2%" y="56.2%" transform="scale(0.9969999999999999)">
					Compatibility
				</text>
				<text class="small" x="55.5%" y="56.5%" transform="scale(0.9949999999999999)">
					Compatibility
				</text>
				<text class="small" x="55.8%" y="56.8%" transform="scale(0.9929999999999999)">
					Compatibility
				</text>
			</g>
		</svg>
		<div class="line"></div>
		<div class="timeline-content timeline-content--right">
			<a href="//uat-chiller.nbcuxlab.com/" target="_blank" class="img-mask">
				<div class="mask">
					<object data="/images/chiller/uat.svg" class="" type="image/svg+xml"></object>
				</div>
			</a>
			<div class="copy copy--masking">
				<h2>User Acceptance Testing</h2>
				<p>For Chiller producers, we catalogued procedures for creating layouts and updating content in Concerto.</p> 
				<div class="links">
					<a href="//uat-chiller.nbcuxlab.com/" target="_blank">
						<div class="underline-button"></div>
						<span>Visit UAT</span>
						<div class="underline"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="project-5" du-scrollspy="project-5" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
		</g>
		<g class="left">
			<text class="small" x="5.0%" y="35%" transform="scale(1.005)">
				Clarity
			</text>
			<text class="small" x="5.3%" y="35.3%" transform="scale(1.003)">
				Clarity
			</text>
			<text class="small" x="5.6%" y="35.6%" transform="scale(1.001)">
				Clarity
			</text>
			<text class="small" x="5.9%" y="35.9%" transform="scale(0.9989999999999999)">
				Clarity
			</text>
			<text class="small" x="6.2%" y="36.2%" transform="scale(0.9969999999999999)">
				Clarity
			</text>
			<text class="small" x="6.5%" y="36.5%" transform="scale(0.9949999999999999)">
				Clarity
			</text>
			<text class="small" x="6.8%" y="36.8%" transform="scale(0.9929999999999999)">
				Clarity
			</text>
		</g>
		<g class="right">
			<text class="small" x="54.0%" y="55%" transform="scale(1.005)">
				Partnership
			</text>
			<text class="small" x="54.3%" y="55.3%" transform="scale(1.003)">
				Partnership
			</text>
			<text class="small" x="54.6%" y="55.6%" transform="scale(1.001)">
				Partnership
			</text>
			<text class="small" x="54.9%" y="55.9%" transform="scale(0.9989999999999999)">
				Partnership
			</text>
			<text class="small" x="55.2%" y="56.2%" transform="scale(0.9969999999999999)">
				Partnership
			</text>
			<text class="small" x="55.5%" y="56.5%" transform="scale(0.9949999999999999)">
				Partnership
			</text>
			<text class="small" x="55.8%" y="56.8%" transform="scale(0.9929999999999999)">
				Partnership
			</text>
		</g>     
	</svg>
	<div class="line"></div>
	<div class="timeline-content timeline-content--right  timeline-content--crop-32-29">
		<a href="//nbcuxlab.com/BEE/proposal-new/" target="_blank" class="img-mask">
			<div class="mask">
<!-- 				<video src="/images/chiller/annotations.mp4" loop autoplay></video>-->
				<object data="/images/chiller/annotations.svg" class="" type="image/svg+xml"></object>
			</div>
		</a>
		<div class="copy copy--masking">
			<h2>Concerto API Annotation</h2>
			<p> As Chiller is powered by Concerto, we created an annotated page with the mapping of UI components to their APIs.</p> 
			<p>This made for quick and easy development for our engineering team.</p>
			<div class="links">
				<a href="http://www.awesomescreenshot.com/image/1190508/25745eb498abcc51385f7569286008bf" target="_blank">
					<div class="underline-button"></div>
					<span>View Annotations</span>
					<div class="underline"></div>
				</a>
			</div>
		</div>
	</div>
</div>
<div id="project-6" du-scrollspy="project-6" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
	</g>
	<g class="left">
		<text class="small" x="0.0%" y="25%" transform="scale(1.005)">
			Feedback
		</text>
		<text class="small" x="0.3%" y="25.3%" transform="scale(1.003)">
			Feedback
		</text>
		<text class="small" x="0.6%" y="25.6%" transform="scale(1.001)">
			Feedback
		</text>
		<text class="small" x="0.9%" y="25.9%" transform="scale(0.9989999999999999)">
			Feedback
		</text>
		<text class="small" x="1.2%" y="26.2%" transform="scale(0.9969999999999999)">
			Feedback
		</text>
		<text class="small" x="1.5%" y="26.5%" transform="scale(0.9949999999999999)">
			Feedback
		</text>
		<text class="small" x="1.8%" y="26.8%" transform="scale(0.9929999999999999)">
			Feedback
		</text>
	</g>
	<g class="right">
		<text class="small" x="54.0%" y="55%" transform="scale(1.005)">
			Evaulation
		</text>
		<text class="small" x="54.3%" y="55.3%" transform="scale(1.003)">
			Evaulation
		</text>
		<text class="small" x="54.6%" y="55.6%" transform="scale(1.001)">
			Evaulation
		</text>
		<text class="small" x="54.9%" y="55.9%" transform="scale(0.9989999999999999)">
			Evaulation
		</text>
		<text class="small" x="55.2%" y="56.2%" transform="scale(0.9969999999999999)">
			Evaulation
		</text>
		<text class="small" x="55.5%" y="56.5%" transform="scale(0.9949999999999999)">
			Evaulation
		</text>
		<text class="small" x="55.8%" y="56.8%" transform="scale(0.9929999999999999)">
			Evaulation
		</text>
	</g>

</svg>
<div class="line"></div>
<div class="timeline-content timeline-content--right timeline-content--crop-32-32">
	<a href="//chiller-branding.nbcuxlab.com/Survey/index.html" target="_blank" class="img-mask" >
		<div class="mask">
			<!-- <video src="/images/chiller/survey.mp4" loop autoplay></video> -->
			<object data="/images/chiller/survey.svg" class="" type="image/svg+xml"></object>
		</div>
	</a>
	<div class="copy copy--masking">
		<h2>Design Survey</h2>
		<p>With help from the research team at Chiller, we administered a survey to assess the success of ChillerTV.com’s new design.</p>
		<p>71% of the respondents thought the new design was suitable as an authority in the horror genre. Respondents associated the new design with adjectives like thrilling, scary, exciting, and fun.</p> 
		<div class="links">
			<a href="//chiller-branding.nbcuxlab.com/Survey/index.html" target="_blank">
				<div class="underline-button"></div>
				<span>View Survey Results</span>
				<div class="underline"></div>
			</a>
		</div>
	</div>
</div>
</div>




</div>
</div>


