<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <div class="timeline-container" du-spy-context>
    <div id="project-0" du-scrollspy="project-0" class="fh5co-timeline">
      <div class="line"></div>
      <h1>This is Google Docs vs. the simultaneous text editor they told you not to worry about. Say hello to <span>BEE</span>.</h1>
      <a class="link" style="opacity:0;">See the Case Study</a>
      <br>
    </div>
    <div id="project-1" du-scrollspy="project-1" class="fh5co-timeline fh5co-timeline--long fh5co-timeline--panoramic">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="medium" x="5.0%" y="25%" transform="scale(1.005)">
            UX
          </text>
          <text class="medium" x="5.3%" y="25.3%" transform="scale(1.003)">
            UX
          </text>
          <text class="medium" x="5.6%" y="25.6%" transform="scale(1.001)">
            UX
          </text>
          <text class="medium" x="5.9%" y="25.9%" transform="scale(0.9989999999999999)">
            UX
          </text>
          <text class="medium" x="6.2%" y="26.2%" transform="scale(0.9969999999999999)">
            UX
          </text>
          <text class="medium" x="6.5%" y="26.5%" transform="scale(0.9949999999999999)">
            UX
          </text>
          <text class="medium" x="6.8%" y="26.8%" transform="scale(0.9929999999999999)">
            UX
          </text>
        </g>
        <g class="right">
          <text class="small" x="55.0%" y="45%" transform="scale(1.005)">
            Research
          </text>
          <text class="small" x="55.3%" y="45.3%" transform="scale(1.003)">
            Research
          </text>
          <text class="small" x="55.6%" y="45.6%" transform="scale(1.001)">
            Research
          </text>
          <text class="small" x="55.9%" y="45.9%" transform="scale(0.9989999999999999)">
            Research
          </text>
          <text class="small" x="56.2%" y="46.2%" transform="scale(0.9969999999999999)">
            Research
          </text>
          <text class="small" x="56.5%" y="46.5%" transform="scale(0.9949999999999999)">
            Research
          </text>
          <text class="small" x="56.8%" y="46.8%" transform="scale(0.9929999999999999)">
            Research
          </text>
        </g>
        <g class="left">
          <text class="small" x="0.0%" y="75%" transform="scale(1.005)">
            Modus Operandi
          </text>
          <text class="small" x="0.3%" y="75.3%" transform="scale(1.003)">
            Modus Operandi
          </text>
          <text class="small" x="0.6%" y="75.6%" transform="scale(1.001)">
            Modus Operandi
          </text>
          <text class="small" x="0.9%" y="75.9%" transform="scale(0.9989999999999999)">
            Modus Operandi
          </text>
          <text class="small" x="1.2%" y="76.2%" transform="scale(0.9969999999999999)">
            Modus Operandi
          </text>
          <text class="small" x="1.5%" y="76.5%" transform="scale(0.9949999999999999)">
            Modus Operandi
          </text>
          <text class="small" x="1.8%" y="76.8%" transform="scale(0.9929999999999999)">
            Modus Operandi
          </text>
        </g>
      </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--left timeline-content--crop-33-33">
        <a href="http://cnbc-ux.nbcuxlab.com/interview-index/" target="_blank" class="img-mask">
          <div class="mask">
            <object data="/images/cnbc/interviews.svg" class="" type="image/svg+xml"></object>
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>User Interviews</h2>
          <p>To help us understand their system, we had one-on-one interviews with users who were working with the older Toolbelt CMS. We learned about their roles and work, how they use Toolbelt on a daily basis, identified their pain-points, and asked what would help enhance their workflow.</p>
          <div class="links">
            <a href="http://cnbc-ux.nbcuxlab.com/interview-index/" target="_blank">
              <div class="underline-button"></div>
              <span>See the Interviews</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="project-2" du-scrollspy="project-2" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="right">
          <text class="small" x="55.0%" y="35%" transform="scale(1.005)">
            Observation
          </text>
          <text class="small" x="55.3%" y="35.3%" transform="scale(1.003)">
            Observation
          </text>
          <text class="small" x="55.6%" y="35.6%" transform="scale(1.001)">
            Observation
          </text>
          <text class="small" x="55.9%" y="35.9%" transform="scale(0.9989999999999999)">
            Observation
          </text>
          <text class="small" x="56.2%" y="36.2%" transform="scale(0.9969999999999999)">
            Observation
          </text>
          <text class="small" x="56.5%" y="36.5%" transform="scale(0.9949999999999999)">
            Observation
          </text>
          <text class="small" x="56.8%" y="36.8%" transform="scale(0.9929999999999999)">
            Observation
          </text>
        </g>
        <g class="left">
          <text class="medium" x="0.0%" y="65%" transform="scale(1.005)">
            Empathy
          </text>
          <text class="medium" x="0.3%" y="65.3%" transform="scale(1.003)">
            Empathy
          </text>
          <text class="medium" x="0.6%" y="65.6%" transform="scale(1.001)">
            Empathy
          </text>
          <text class="medium" x="0.9%" y="65.9%" transform="scale(0.9989999999999999)">
            Empathy
          </text>
          <text class="medium" x="1.2%" y="66.2%" transform="scale(0.9969999999999999)">
            Empathy
          </text>
          <text class="medium" x="1.5%" y="66.5%" transform="scale(0.9949999999999999)">
            Empathy
          </text>
          <text class="medium" x="1.8%" y="66.8%" transform="scale(0.9929999999999999)">
            Empathy
          </text>
        </g>
      </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--right timeline-content--crop-32-32">
        <a href="//cnbc-ux.nbcuxlab.com/hot-seat-breaking-news/" target="_blank" class="img-mask">
          <div class="mask">
            <object data="/images/cnbc/user-journey.svg" class="" type="image/svg+xml"></object>
            <!-- <video src="/images/cnbc/journey-map-old.mp4" loop autoplay></video> -->
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>User Journey</h2>
          <p>The newsroom is as frenetic as we imagine it to be. Lots of people are involved, the workflows have many different roles, and numerous tasks exist. We analyzed CNBC’s workflows from a role perspective. By creating a user journey with an empathy map, we were able to define each role, delineate tasks within a workflow, measure pain-points, and identify opportunities for improvement. </p> 
          <div class="links">
            <a href="//cnbc-ux.nbcuxlab.com/hot-seat-breaking-news/" target="_blank">
              <div class="underline-button"></div>
              <span>Visit Website</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="project-3" du-scrollspy="project-3" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
      <g class="right">
        <text class="small" x="55.0%" y="45%" transform="scale(1.005)">
          Learning
        </text>
        <text class="small" x="55.3%" y="45.3%" transform="scale(1.003)">
          Learning
        </text>
        <text class="small" x="55.6%" y="45.6%" transform="scale(1.001)">
          Learning
        </text>
        <text class="small" x="55.9%" y="45.9%" transform="scale(0.9989999999999999)">
          Learning
        </text>
        <text class="small" x="56.2%" y="46.2%" transform="scale(0.9969999999999999)">
          Learning
        </text>
        <text class="small" x="56.5%" y="46.5%" transform="scale(0.9949999999999999)">
          Learning
        </text>
        <text class="small" x="56.8%" y="46.8%" transform="scale(0.9929999999999999)">
          Learning
        </text>
      </g>
      <g class="left">
        <text class="small" x="2.0%" y="70%" transform="scale(1.005)">
          Framework
        </text>
        <text class="small" x="2.3%" y="70.3%" transform="scale(1.003)">
          Framework
        </text>
        <text class="small" x="2.6%" y="70.6%" transform="scale(1.001)">
          Framework
        </text>
        <text class="small" x="2.9%" y="70.9%" transform="scale(0.9989999999999999)">
          Framework
        </text>
        <text class="small" x="3.2%" y="71.2%" transform="scale(0.9969999999999999)">
          Framework
        </text>
        <text class="small" x="3.5%" y="71.5%" transform="scale(0.9949999999999999)">
          Framework
        </text>
        <text class="small" x="3.8%" y="71.8%" transform="scale(0.9929999999999999)">
          Framework
        </text>
      </g>
    </svg>

    <div class="line"></div>
    <div class="timeline-content timeline-content--left timeline-content--crop-32-32">
      <a href="//cnbc-ux.nbcuxlab.com/lifecycle-news-story/" target="_blank" class="img-mask">
        <div class="mask">
          <object data="/images/cnbc/lifecycle.svg" class="" type="image/svg+xml"></object>
          <!-- <video src="/images/cnbc/lifecycle.mp4" loop autoplay></video> -->
        </div>
      </a>
      <div class="copy copy--masking">
        <h2>Content Lifecycle</h2>
        <p>We analyzed the complex process that news content undergoes as it is managed through various publishing stages. By understanding how a news story is first created and eventually unranked, we were able to see what roles were involved and all the different tasks that are pertinent. Along with that, we observed the interaction between different roles and pain points.</p>
        <div class="links">
          <a href="//cnbc-ux.nbcuxlab.com/lifecycle-news-story/" target="_blank">
            <div class="underline-button"></div>
            <span>Read More</span>
            <div class="underline"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="project-4" du-scrollspy="project-4" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
    <g class="left">
      <text class="medium" x="0.0%" y="30%" transform="scale(1.005)">
        Product
      </text>
      <text class="medium" x="0.3%" y="30.3%" transform="scale(1.003)">
        Product
      </text>
      <text class="medium" x="0.6%" y="30.6%" transform="scale(1.001)">
        Product
      </text>
      <text class="medium" x="0.9%" y="30.9%" transform="scale(0.9989999999999999)">
        Product
      </text>
      <text class="medium" x="1.2%" y="31.2%" transform="scale(0.9969999999999999)">
        Product
      </text>
      <text class="medium" x="1.5%" y="31.5%" transform="scale(0.9949999999999999)">
        Product
      </text>
      <text class="medium" x="1.8%" y="31.8%" transform="scale(0.9929999999999999)">
        Product
      </text>
    </g>
    <g class="right">
      <text class="small" x="55.0%" y="65%" transform="scale(1.005)">
        Functionality
      </text>
      <text class="small" x="55.3%" y="65.3%" transform="scale(1.003)">
        Functionality
      </text>
      <text class="small" x="55.6%" y="65.6%" transform="scale(1.001)">
        Functionality
      </text>
      <text class="small" x="55.9%" y="65.9%" transform="scale(0.9989999999999999)">
        Functionality
      </text>
      <text class="small" x="56.2%" y="66.2%" transform="scale(0.9969999999999999)">
        Functionality
      </text>
      <text class="small" x="56.5%" y="66.5%" transform="scale(0.9949999999999999)">
        Functionality
      </text>
      <text class="small" x="56.8%" y="66.8%" transform="scale(0.9929999999999999)">
        Functionality
      </text>
    </g>

  </svg>
  <div class="line"></div>
  <div class="timeline-content timeline-content--right timeline-content--crop-32-29">
    <a href="//cnbc-ux.nbcuxlab.com/requirements/" target="_blank" class="img-mask">
      <div class="mask">
        <object data="/images/cnbc/requirements.svg" class="" type="image/svg+xml"></object>
        <!-- <video src="/images/cnbc/requirements.mp4" loop autoplay></video> -->
      </div>
    </a>
    <div class="copy copy--masking">
      <h2>Requirements</h2>
      <p>After digesting our hefty briefcase of user research, we created a detailed list of product requirements that would address the needs we saw. This included requisite major features, content types that need to be supported, and essential workflows.</p> 
      <div class="links">
        <a href="//cnbc-ux.nbcuxlab.com/requirements/" target="_blank">
          <div class="underline-button"></div>
          <span>See Requirements</span>
          <div class="underline"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="project-5" du-scrollspy="project-5" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
    <g class="left">
      <text class="small" x="2.0%" y="25%" transform="scale(1.005)">
        Execution
      </text>
      <text class="small" x="2.3%" y="25.3%" transform="scale(1.003)">
        Execution
      </text>
      <text class="small" x="2.6%" y="25.6%" transform="scale(1.001)">
        Execution
      </text>
      <text class="small" x="2.9%" y="25.9%" transform="scale(0.9989999999999999)">
        Execution
      </text>
      <text class="small" x="3.2%" y="26.2%" transform="scale(0.9969999999999999)">
        Execution
      </text>
      <text class="small" x="3.5%" y="26.5%" transform="scale(0.9949999999999999)">
        Execution
      </text>
      <text class="small" x="3.8%" y="26.8%" transform="scale(0.9929999999999999)">
        Execution
      </text>
    </g>

    <g class="right">
      <text class="medium" x="55.0%" y="45%" transform="scale(1.005)">
        Buzz
      </text>
      <text class="medium" x="55.3%" y="45.3%" transform="scale(1.003)">
        Buzz
      </text>
      <text class="medium" x="55.6%" y="45.6%" transform="scale(1.001)">
        Buzz
      </text>
      <text class="medium" x="55.9%" y="45.9%" transform="scale(0.9989999999999999)">
        Buzz
      </text>
      <text class="medium" x="56.2%" y="46.2%" transform="scale(0.9969999999999999)">
        Buzz
      </text>
      <text class="medium" x="56.5%" y="46.5%" transform="scale(0.9949999999999999)">
        Buzz
      </text>
      <text class="medium" x="56.8%" y="46.8%" transform="scale(0.9929999999999999)">
        Buzz
      </text>
    </g>
    <g class="left">
      <text class="small" x="5.0%" y="65%" transform="scale(1.005)">
        Seamless
      </text>
      <text class="small" x="5.3%" y="65.3%" transform="scale(1.003)">
        Seamless
      </text>
      <text class="small" x="5.6%" y="65.6%" transform="scale(1.001)">
        Seamless
      </text>
      <text class="small" x="5.9%" y="65.9%" transform="scale(0.9989999999999999)">
        Seamless
      </text>
      <text class="small" x="6.2%" y="66.2%" transform="scale(0.9969999999999999)">
        Seamless
      </text>
      <text class="small" x="6.5%" y="66.5%" transform="scale(0.9949999999999999)">
        Seamless
      </text>
      <text class="small" x="6.8%" y="66.8%" transform="scale(0.9929999999999999)">
        Seamless
      </text>
    </g>
  </svg>
  <div class="line"></div>
  <div class="timeline-content timeline-content--left timeline-content--crop-32-32">
    <a href="//nbcuxlab.com/BEE/proposal-new/" target="_blank" class="img-mask">
      <div class="mask">
      <object data="/images/cnbc/bee-pilot.svg" class="" type="image/svg+xml"></object>
       <!-- <video src="/images/cnbc/bee.mp4" loop autoplay> -->
       </video>
     </div>
   </a>
   <div class="copy copy--masking">
    <h2>BEE Pilot</h2>
    <p>Our team’s answer to the needs we saw was: BEE (a Better Editorial Experience). With BEE, writers can quickly create articles, copy editors can simultaneously edit the story, and photo editors can easily license and embed photos. All at the same time.</p>
    <p>As with all our pilots and prototypes, we created BEE in live code with React.</p> 
    <div class="links">
      <a href="//nbcuxlab.com/BEE/proposal-new/" target="_blank">
        <div class="underline-button"></div>
        <span>See Functional Overview</span>
        <div class="underline"></div>
      </a>
      <!-- <a href="//nbcuxlab.com/BEE/proposal/" target="_blank">
        <div class="underline-button"></div>
        <span>See Functional Overview</span>
        <div class="underline"></div>
      </a> -->
    </div>
  </div>
</div>
</div>



</div>
</div>


