<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <div class="timeline-container" du-spy-context>
    <div id="project-0" du-scrollspy="project-0" class="fh5co-timeline">
      <div class="line"></div>
      <h1 class="large">The <span>Concerto</span> CMS was designed to power the diverse NBCU brands.</h1>
     <a class="link" style="opacity:0;">See the Case Study</a>
     <br>
    </div>
    <div id="project-1" du-scrollspy="project-1" class="fh5co-timeline fh5co-timeline--long">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="medium" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{5 + ((i - 1) * 0.3)}}%" 
          ng-y="{{25 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        UX
        </text>
      </g>
      <g class="right">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{52 + ((i - 1) * 0.3)}}%" 
          ng-y="{{45 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Research
        </text>
      </g>
      <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{8 + ((i - 1) * 0.3)}}%" 
          ng-y="{{65 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
          Design
        </text>
      </g>
    </svg>
    <div class="line"></div>
    <div class="timeline-content timeline-content--left">
      <a href="//usa.nbcuxlab.com/discovery/index.html" target="_blank" class="img-mask">
        <div class="mask">
          <video style="width: 100%; height: auto;" src="/images/concerto/discovery2.mp4" loop autoplay>
            </video>
        </div>
      </a>
      <div class="copy copy--masking">
        <h2>Discovery</h2>
        <p>We love working with our users. In order to learn about the users’ current workflows on the existing CMS, we collaborated with producers, editors, and designers who used the system. This allowed us to identify their needs, pain-points, and requirements that helped us tailor our design. </p>
        <p>We worked closely with USA to see how their brand could adopt the Concerto CMS. Read more about the discovery we did partnering with them.</p>
        <div class="links">
          <a href="//usa.nbcuxlab.com/discovery/index.html" target="_blank">
            <div class="underline-button"></div>
            <span>Visit Discovery</span>
            <div class="underline"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="project-2" du-scrollspy="project-2" class="fh5co-timeline fh5co-timeline--medium">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
     <g class="right">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{62 + ((i - 1) * 0.3)}}%" 
          ng-y="{{25 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Brainstorm
        </text>
      </g>
        <g class="left">
          <text class="medium" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{0 + ((i - 1) * 0.3)}}%" 
          ng-y="{{45 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Sketch
        </text>
      </g>
      
      <g class="right">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{52 + ((i - 1) * 0.3)}}%" 
          ng-y="{{65 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
         Synergy
        </text>
      </g>
    </svg>
    <div class="line"></div>
    <div class="timeline-content timeline-content--right">
      <a href="//concerto.nbcuxlab.com/4-1-preview-schedule/03-ideation.html" target="_blank" class="img-mask">
        <div class="mask">
          <video style="width: 100%; height: auto;" src="/images/concerto/ideation.mp4" loop autoplay>
          </video>
        </div>
      </a>
      <div class="copy copy--masking">
        <h2>Ideation</h2>
          <p> After collecting requirements from the brands and understanding their pain-points during the discovery session, we worked with the Product and Engineering teams to brainstorm. Everyone participated in design charrettes and individually sketched and presented their ideas to the group. At the end of the session, we voted for the pages and features we liked the most.</p>
          <div class="links">
            <a href="//concerto.nbcuxlab.com/4-1-preview-schedule/03-ideation.html" target="_blank">
              <div class="underline-button"></div>
              <span>Visit Full Website</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="project-3" du-scrollspy="project-3" class="fh5co-timeline fh5co-timeline--medium">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
      
      <g class="right">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{57 + ((i - 1) * 0.3)}}%" 
          ng-y="{{45 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
       Functional
        </text>
      </g>
      <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{0 + ((i - 1) * 0.3)}}%" 
          ng-y="{{65 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
         Interactive
        </text>
      </g>
    </svg>
    <div class="line"></div>
    <div class="timeline-content timeline-content--right">
      <a href="//concerto.nbcuxlab.com/7-1-microsite/03-wireframe.html#consolidation" target="_blank" class="img-mask">
        <div class="mask">
          <video style="width: 100%; height: auto;" src="/images/concerto/wireframe-new2.mp4" loop autoplay>
          </video>
        </div>
      </a>
      <div class="copy copy--masking">
        <h2>Wireframes</h2>
          <p> We brought in all the ideas that received votes during the ideation session and consolidated them into a workable flow. In order to convey our design functionalities to the engineering team, we created clickable wireframes.</p>
          <div class="links">
            <a href="//concerto.nbcuxlab.com/7-1-microsite/03-wireframe.html#consolidation" target="_blank">
              <div class="underline-button"></div>
              <span>See Wireframes</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="project-4" du-scrollspy="project-4" class="fh5co-timeline fh5co-timeline--medium">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="medium" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{0 + ((i - 1) * 0.3)}}%" 
          ng-y="{{35 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        UX Code
        </text>
      </g>
      
      <g class="right">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{52 + ((i - 1) * 0.3)}}%" 
          ng-y="{{60+ ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
         Solution
        </text>
      </g>
    </svg>
      <div class="line" style="margin-top: 10vh;"></div>
      <div class="timeline-content timeline-content--left">
        <a target="_blank" class="img-mask">
          <div class="mask">
            <video src="/images/concerto/rectangles.mp4" loop autoplay>
            </video>
            <!-- <img src="/images/concerto/promo__collection.png"> -->
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>Prototype</h2>
          <p> Using what we learned from our discovery, our researchers, designers, and developers joined forces to create a clickable, dynamic prototype that best suited the needs of the users.</p>
          <p> Our prototype was coded with HTML, CSS, and Javascript to mirror the final product.</p>
          <div class="links">
            <!-- <a href="//concerto.nbcuxlab.com/concerto/prototypes.html" target="_blank">
              <div class="underline-button"></div>
              <span>Visit Concerto Prototype</span>
              <div class="underline"></div>
            </a> -->
          </div>
        </div>
      </div>
    </div>
    <div id="project-5" du-scrollspy="project-5" class="fh5co-timeline fh5co-timeline--medium">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{0 + ((i - 1) * 0.3)}}%" 
          ng-y="{{25 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
       Feedback
        </text>
      </g>
      <g class="right">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{57 + ((i - 1) * 0.3)}}%" 
          ng-y="{{45 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Validation
        </text>
      </g>
    </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--left">
        <a href="//concerto.nbcuxlab.com/2-2-collection/05-usertesting.html" target="_blank" class="img-mask">
          <div class="mask">
            <img style="width: 100%; height: auto; margin-top: 12%;" src="/images/concerto/usertesting2.jpg">
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>User Testing</h2>
          <p>We took our prototype and tested it with producers, editors, and designers. These users were from top NBCU brands Bravo, SyFy, NBCD, and USA. Our process is crucial to us. All user testing sessions were documented and housed online so anyone can have access to them.</p>
          <div class="links">
            <a href="//concerto.nbcuxlab.com/2-2-collection/05-usertesting.html" target="_blank">
              <div class="underline-button"></div>
              <span>Read More</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="project-6" du-scrollspy="project-6" class="fh5co-timeline fh5co-timeline--medium">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="medium" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{5 + ((i - 1) * 0.3)}}%" 
          ng-y="{{25 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
       Empathy
        </text>
      </g>
      <g class="right">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{57 + ((i - 1) * 0.3)}}%" 
          ng-y="{{45 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Journey
        </text>
      </g>
      <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{8 + ((i - 1) * 0.3)}}%" 
          ng-y="{{65 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
          Insights
        </text>
      </g>
    </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--left">
        <a href="//concerto.nbcuxlab.com/2-2-collection/06-experiencemapping.html" target="_blank" class="img-mask">
          <div class="mask">
            <img src="/images/concerto/mapping.jpg">
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>Experience Mapping</h2>
          <p> Based on what we gathered from user testing, we mapped out our users’ journeys during various tasks. Breaking down their workflows into categorical steps enabled us to identify issues faced by the users. </p>
          <p> We tackled these issues head-on and reflected the improvements into the prototype before sending it to engineering.</p>
          <div class="links">
            <a href="//concerto.nbcuxlab.com/2-2-collection/06-experiencemapping.html" target="_blank">
              <div class="underline-button"></div>
              <span>Read More</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>

  </span>
</div>

