<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <div class="timeline-container" du-spy-context>
    <div id="project-0" du-scrollspy="project-0" class="fh5co-timeline">
      <div class="line"></div>
      <h1>A Unique Mobile App that helps you to  <span>Identify</span> products from the US drug market with analogs around the world.</h1>
      <a class="link" style="opacity:0;">See the Case Study</a>
      <div class="line"></div>
      <h1><span>Team & Role:</span> Team of three UX designers 2-Week Design Sprint.</h1>
      <h1><span> My Role: </span>UX Researcher, UX Designer, UI Designer.
      </h1>

      <a class="link" style="opacity:0;">See the Case Study</a>
      <br>
    </div>
    <div id="project-1" du-scrollspy="project-1" class="fh5co-timeline fh5co-timeline--long fh5co-timeline--panoramic">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" x="-2.0%" y="40%" transform="scale(1.005)">
            Design
          </text>
          <text class="small" x="-1.7%" y="40.3%" transform="scale(1.003)">
            Design
          </text>
          <text class="small" x="-1.4%" y="40.6%" transform="scale(1.001)">
            Design
          </text>
          <text class="small" x="-1.1%" y="40.9%" transform="scale(0.9989999999999999)">
            Design
          </text>
          <text class="small" x="0.8%" y="41.2%" transform="scale(0.9969999999999999)">
            Design
          </text>
          <text class="small" x="0.5%" y="41.5%" transform="scale(0.9949999999999999)">
            Design
          </text>
          <text class="small" x="0.2%" y="41.8%" transform="scale(0.9929999999999999)">
            Design
          </text>
      </g>
      <g class="right">
          <text class="small" x="55.0%" y="65%" transform="scale(1.005)">
            Inspiration
          </text>
          <text class="small" x="55.3%" y="65.3%" transform="scale(1.003)">
            Inspiration
          </text>
          <text class="small" x="55.6%" y="65.6%" transform="scale(1.001)">
            Inspiration
          </text>
          <text class="small" x="55.9%" y="65.9%" transform="scale(0.9989999999999999)">
            Inspiration
          </text>
          <text class="small" x="56.2%" y="66.2%" transform="scale(0.9969999999999999)">
            Inspiration
          </text>
          <text class="small" x="56.5%" y="66.5%" transform="scale(0.9949999999999999)">
            Inspiration
          </text>
          <text class="small" x="56.8%" y="66.8%" transform="scale(0.9929999999999999)">
            Inspiration
          </text>
      </g>

    </svg>
    <div class="line"></div>
    <div class="timeline-content timeline-content--right timeline-content--crop-32-29">
      <a href="void:0"  class="img-mask">
        <div class="mask">
          <object data="/images/american-made/mobile-phone.svg" class="" type="image/svg+xml"></object>
          <!-- <video src="http://american-made-a.nbcuxlab.com/img/_videos/videos_bg2.mp4" loop autoplay></video> -->
        </div>
      </a>
      <div class="copy copy--masking">
        <h2>Overview</h2>
        <p>Our team has designed an app that will help in finding the right medicine for people who may have limited English language abilities and are unfamiliar with U.S. the shelves are filled with tons of products with similar packaging to one another, with names that usually differ greatly from their main ingredient.
          <p>We focused on the problem space of people facing language barriers in drug stores. The names and branding of products can vary across different regions and countries, and as a result, people may have difficulty identifying which products suit their needs.</p>
          <div class="links">
            <a href="http://american-made-a.nbcuxlab.com/identify.html#home" target="_blank">
              <div class="underline-button"></div>
<!--              <span>Visit Full Website</span>-->
              <div class="underline"></div>
            </a>
          </div>
        </div>
    </div>
  </div>
  <div id="project-2" du-scrollspy="project-2" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" x="0.0%" y="25%" transform="scale(1.005)">
            Interactivity
          </text>
          <text class="small" x="0.3%" y="25.3%" transform="scale(1.003)">
            Interactivity
          </text>
          <text class="small" x="0.7%" y="25.6%" transform="scale(1.001)">
            Interactivity
          </text>
          <text class="small" x="1.1%" y="25.9%" transform="scale(0.9989999999999999)">
            Interactivity
          </text>
          <text class="small" x="1.4%" y="26.2%" transform="scale(0.9969999999999999)">
            Interactivity
          </text>
          <text class="small" x="1.7%" y="26.5%" transform="scale(0.9949999999999999)">
            Interactivity
          </text>
          <text class="small" x="2.0%" y="26.8%" transform="scale(0.9929999999999999)">
            Interactivity
          </text>
      </g>
      <g class="right">
          <text class="small" x="55.0%" y="45%" transform="scale(1.005)">
            Immersive
          </text>
          <text class="small" x="55.3%" y="45.3%" transform="scale(1.003)">
            Immersive
          </text>
          <text class="small" x="55.6%" y="45.6%" transform="scale(1.001)">
            Immersive
          </text>
          <text class="small" x="55.9%" y="45.9%" transform="scale(0.9989999999999999)">
            Immersive
          </text>
          <text class="small" x="56.2%" y="46.2%" transform="scale(0.9969999999999999)">
            Immersive
          </text>
          <text class="small" x="56.5%" y="46.5%" transform="scale(0.9949999999999999)">
            Immersive
          </text>
          <text class="small" x="56.8%" y="46.8%" transform="scale(0.9929999999999999)">
            Immersive
          </text>
      </g>
      <g class="left">
          <text class="medium" x="8.0%" y="65%" transform="scale(1.005)">
            110%
          </text>
          <text class="medium" x="8.3%" y="65.3%" transform="scale(1.003)">
            110%
          </text>
          <text class="medium" x="8.6%" y="65.6%" transform="scale(1.001)">
            110%
          </text>
          <text class="medium" x="8.9%" y="65.9%" transform="scale(0.9989999999999999)">
            110%
          </text>
          <text class="medium" x="9.2%" y="66.2%" transform="scale(0.9969999999999999)">
            110%
          </text>
          <text class="medium" x="9.5%" y="66.5%" transform="scale(0.9949999999999999)">
            110%
          </text>
          <text class="medium" x="9.8%" y="66.8%" transform="scale(0.9929999999999999)">
            110%
          </text>
      </g>
    </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--left timeline-content--crop-32-32">
        <a href="void:0"  class="img-mask">
          <div class="mask">
            <!-- <video src="/images/american-made/route.mp4" loop autoplay>
            </video> -->
            <object data="/images/american-made/user-journey.svg" class="" type="image/svg+xml"></object>
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>User Journey</h2>
          <p>With the insights we gathered from our  user interviews we were able to creat a user journey map, to display user’s pain points and emotinal statements.</p>
          <p> By creating a user journey with an empathy map, we were able to define user flow, measure pain-points, and identify opportunities for improvement.</p>
          <div class="links">
            <a href="void:0" >
              <div class="underline-button"></div>
<!--              <span>Experience Fly With Barry</span>-->
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="project-3" du-scrollspy="project-3" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
      <g class="right">
        <text class="small" x="55.0%" y="35%" transform="scale(1.005)">
          Responsive
        </text>
        <text class="small" x="55.3%" y="35.3%" transform="scale(1.003)">
          Responsive
        </text>
        <text class="small" x="55.6%" y="35.6%" transform="scale(1.001)">
          Responsive
        </text>
        <text class="small" x="55.9%" y="35.9%" transform="scale(0.9989999999999999)">
          Responsive
        </text>
        <text class="small" x="56.2%" y="36.2%" transform="scale(0.9969999999999999)">
          Responsive
        </text>
        <text class="small" x="56.5%" y="36.5%" transform="scale(0.9949999999999999)">
          Responsive
        </text>
        <text class="small" x="56.8%" y="36.8%" transform="scale(0.9929999999999999)">
          Responsive
        </text>
      </g>
      <g class="left">
          <text class="medium" x="2.0%" y="65%" transform="scale(1.005)">
            Mobile
          </text>
          <text class="medium" x="2.3%" y="65.3%" transform="scale(1.003)">
            Mobile
          </text>
          <text class="medium" x="2.6%" y="65.6%" transform="scale(1.001)">
            Mobile
          </text>
          <text class="medium" x="2.9%" y="65.9%" transform="scale(0.9989999999999999)">
            Mobile
          </text>
          <text class="medium" x="3.2%" y="66.2%" transform="scale(0.9969999999999999)">
            Mobile
          </text>
          <text class="medium" x="3.5%" y="66.5%" transform="scale(0.9949999999999999)">
            Mobile
          </text>
          <text class="medium" x="3.8%" y="66.8%" transform="scale(0.9929999999999999)">
            Mobile
          </text>
      </g>
    </svg>
    <div class="line"></div>
    <div class="timeline-content timeline-content--right timeline-content--crop-32-29">
      <a href="void:0" class="img-mask">
        <div class="mask" >
            <object data="/images/american-made/problem-statement.svg" class="" type="image/svg+xml"></object>
        </div>
      </a>
      <div class="copy copy--masking">
        <h2>Problem Statement</h2>
          <p>After getting to know our users, we translated their goals and needs into a problem statement to guide the rest of our design process.
            People with limited English proficiency and who have migrated from another region are unfamiliar with U.S. drugstores and their products.
            They want to be able to feel confident in their purchase and need help identifying products.
            How might we help them gain familiarity with U.S. products in drugstores?</p>
          <div class="links">
            <a href="http://american-made-a.nbcuxlab.com/identify.html#home" target="_blank">
              <div class="underline-button"></div>
<!--              <span>Visit Full Website</span>-->
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="project-4" du-scrollspy="project-4" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" x="-2.0%" y="25%" transform="scale(1.005)">
            Mapping
          </text>
          <text class="small" x="-1.7%" y="25.3%" transform="scale(1.003)">
            Mapping
          </text>
          <text class="small" x="-1.4%" y="25.6%" transform="scale(1.001)">
            Mapping
          </text>
          <text class="small" x="-1.1%" y="25.9%" transform="scale(0.9989999999999999)">
            Mapping
          </text>
          <text class="small" x="0.8%" y="26.2%" transform="scale(0.9969999999999999)">
            Mapping
          </text>
          <text class="small" x="0.5%" y="26.5%" transform="scale(0.9949999999999999)">
            Mapping
          </text>
          <text class="small" x="0.2%" y="26.8%" transform="scale(0.9929999999999999)">
            Mapping
          </text>
      </g>
      <g class="right">
        <text class="large" x="65.0%" y="45%" transform="scale(1.005)">
          UX
        </text>
        <text class="large" x="65.3%" y="45.3%" transform="scale(1.003)">
          UX
        </text>
        <text class="large" x="65.6%" y="45.6%" transform="scale(1.001)">
          UX
        </text>
        <text class="large" x="65.9%" y="45.9%" transform="scale(0.9989999999999999)">
          UX
        </text>
        <text class="large" x="66.2%" y="46.2%" transform="scale(0.9969999999999999)">
          UX
        </text>
        <text class="large" x="66.5%" y="46.5%" transform="scale(0.9949999999999999)">
          UX
        </text>
        <text class="large" x="66.8%" y="46.8%" transform="scale(0.9929999999999999)">
          UX
        </text>
      </g>
    <div class="line"></div>
    <div class="timeline-content timeline-content--right timeline-content--crop-32-32">
      <a href="void:0"  class="img-mask" >
        <div class="mask">
          <object data="/images/american-made/priority-map.svg" class="" type="image/svg+xml"></object>
          <!-- <img src="/images/american-made/columbia.gif"> -->
          <!-- <video src="/images/american-made/columbia.mp4" loop autoplay></video> -->
        </div>
      </a>
      <div class="copy copy--masking">
        <h2>Feature Prioritization Map</h2>
        <p>We looked into our problem space in terms of competitors and comparators to see who and how might already be solving some of our users’ problems.
          Market analysis showed us what specific features were important to include in our solution. These features are placed in the “Must Have” section.</p>
        <div class="links">
          <a href="http://american-made.nbcuxlab.com/design-guide/identify.html" target="_blank">
            <div class="underline-button"></div>
            <!-- <span>Visit Design Guide</span> -->
            <div class="underline"></div>
          </a>
        </div>
      </div>
      </div>
    </div>
    <div id="project-5" du-scrollspy="project-5" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" x="0.0%" y="25%" transform="scale(1.005)">
            Prototyping
          </text>
          <text class="small" x="0.3%" y="25.3%" transform="scale(1.003)">
            Prototyping
          </text>
          <text class="small" x="0.7%" y="25.6%" transform="scale(1.001)">
            Prototyping
          </text>
          <text class="small" x="1.1%" y="25.9%" transform="scale(0.9989999999999999)">
            Prototyping
          </text>
          <text class="small" x="1.4%" y="26.2%" transform="scale(0.9969999999999999)">
            Prototyping
          </text>
          <text class="small" x="1.7%" y="26.5%" transform="scale(0.9949999999999999)">
            Prototyping
          </text>
          <text class="small" x="2.0%" y="26.8%" transform="scale(0.9929999999999999)">
            Prototyping
          </text>
        </g>
        <g class="right">
          <text class="small" x="55.0%" y="45%" transform="scale(1.005)">
            Actions
          </text>
          <text class="small" x="55.3%" y="45.3%" transform="scale(1.003)">
            Actions
          </text>
          <text class="small" x="55.6%" y="45.6%" transform="scale(1.001)">
            Actions
          </text>
          <text class="small" x="55.9%" y="45.9%" transform="scale(0.9989999999999999)">
            Actions
          </text>
          <text class="small" x="56.2%" y="46.2%" transform="scale(0.9969999999999999)">
            Actions
          </text>
          <text class="small" x="56.5%" y="46.5%" transform="scale(0.9949999999999999)">
            Actions
          </text>
          <text class="small" x="56.8%" y="46.8%" transform="scale(0.9929999999999999)">
            Actions
          </text>
        </g>

      </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--left timeline-content--crop-32-32">
        <a href="void:0"  class="img-mask">
          <div class="mask">
            <!-- <video src="/images/american-made/route.mp4" loop autoplay>
            </video> -->
            <object data="/images/american-made/low-fi.svg" class="" type="image/svg+xml"></object>
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>Low-Fidelity Wireframes and Prototype</h2>
          <p>The analysis showed we needed to design for Mobile App. The users would be in a physical drug store, and they would need to accomplish their goal quickly.</p>
          <p>  Even though the product is information-focused, the other key factors, including the context of use and required use of mobile features, are only supported by a Native Mobile App platform such as a phone’s camera microphone.
            We conducted 2 Desing Studios and substructed Ideas from each team member to create our Lo-Fidelity Prototype.</p>
          <div class="links">
            <a href="void:0" >
              <div class="underline-button"></div>
              <!--              <span>Experience Fly With Barry</span>-->
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="project-6" du-scrollspy="project-6" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" x="-2.0%" y="25%" transform="scale(1.005)">
            Feedback
          </text>
          <text class="small" x="-1.7%" y="25.3%" transform="scale(1.003)">
            Feedback
          </text>
          <text class="small" x="-1.4%" y="25.6%" transform="scale(1.001)">
            Feedback
          </text>
          <text class="small" x="-1.1%" y="25.9%" transform="scale(0.9989999999999999)">
            Feedback
          </text>
          <text class="small" x="0.8%" y="26.2%" transform="scale(0.9969999999999999)">
            Feedback
          </text>
          <text class="small" x="0.5%" y="26.5%" transform="scale(0.9949999999999999)">
            Feedback
          </text>
          <text class="small" x="0.2%" y="26.8%" transform="scale(0.9929999999999999)">
            Feedback
          </text>
        </g>
        <g class="right">
          <text class="small" x="55.0%" y="45%" transform="scale(1.005)">
            Interviews
          </text>
          <text class="small" x="55.3%" y="45.3%" transform="scale(1.003)">
            Interviews
          </text>
          <text class="small" x="55.6%" y="45.6%" transform="scale(1.001)">
            Interviews
          </text>
          <text class="small" x="55.9%" y="45.9%" transform="scale(0.9989999999999999)">
            Interviews
          </text>
          <text class="small" x="56.2%" y="46.2%" transform="scale(0.9969999999999999)">
            Interviews
          </text>
          <text class="small" x="56.5%" y="46.5%" transform="scale(0.9949999999999999)">
            Interviews
          </text>
          <text class="small" x="56.8%" y="46.8%" transform="scale(0.9929999999999999)">
            Interviews
          </text>
        </g>
        <div class="line"></div>
        <div class="timeline-content timeline-content--right timeline-content--crop-32-32">
          <a href="void:0"  class="img-mask" >
            <div class="mask">
              <object data="/images/american-made/symptoms.svg" class="" type="image/svg+xml"></object>
              <!-- <img src="/images/american-made/columbia.gif"> -->
              <!-- <video src="/images/american-made/columbia.mp4" loop autoplay></video> -->
            </div>
          </a>
          <div class="copy copy--masking">
            <h2> Symptoms Icons</h2>
            <p>We tested over 15 participants, asking them to draw icons for what they would expect to see for individual symptoms.
              Then, we looked at each symptom’s drawings, found their similarities, and then updated our icons to incorporate those similarities in order to be more easily interpreted.</p>
            <div class="links">
              <a href="http://american-made.nbcuxlab.com/design-guide/identify.html" target="_blank">
                <div class="underline-button"></div>
                <!-- <span>Visit Design Guide</span> -->
                <div class="underline"></div>
              </a>
            </div>
          </div>
        </div>
    </div>
    <div id="project-7" du-scrollspy="project-7" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" x="0.0%" y="25%" transform="scale(1.005)">
           Hi-Fi
          </text>
          <text class="small" x="0.3%" y="25.3%" transform="scale(1.003)">
            Hi-Fi
          </text>
          <text class="small" x="0.7%" y="25.6%" transform="scale(1.001)">
            Hi-Fi
          </text>
          <text class="small" x="1.1%" y="25.9%" transform="scale(0.9989999999999999)">
            Hi-Fi
          </text>
          <text class="small" x="1.4%" y="26.2%" transform="scale(0.9969999999999999)">
            Hi-Fi
          </text>
          <text class="small" x="1.7%" y="26.5%" transform="scale(0.9949999999999999)">
            Hi-Fi
          </text>
          <text class="small" x="2.0%" y="26.8%" transform="scale(0.9929999999999999)">
            Hi-Fi
          </text>
        </g>
        <g class="right">
          <text class="small" x="55.0%" y="45%" transform="scale(1.005)">
            Style
          </text>
          <text class="small" x="55.3%" y="45.3%" transform="scale(1.003)">
            Style
          </text>
          <text class="small" x="55.6%" y="45.6%" transform="scale(1.001)">
            Style
          </text>
          <text class="small" x="55.9%" y="45.9%" transform="scale(0.9989999999999999)">
            Style
          </text>
          <text class="small" x="56.2%" y="46.2%" transform="scale(0.9969999999999999)">
            Style
          </text>
          <text class="small" x="56.5%" y="46.5%" transform="scale(0.9949999999999999)">
            Style
          </text>
          <text class="small" x="56.8%" y="46.8%" transform="scale(0.9929999999999999)">
            Style
          </text>
        </g>
        <g class="left">
          <text class="medium" x="8.0%" y="65%" transform="scale(1.005)">
            Color
          </text>
          <text class="medium" x="8.3%" y="65.3%" transform="scale(1.003)">
            Color
          </text>
          <text class="medium" x="8.6%" y="65.6%" transform="scale(1.001)">
            Color
          </text>
          <text class="medium" x="8.9%" y="65.9%" transform="scale(0.9989999999999999)">
            Color
          </text>
          <text class="medium" x="9.2%" y="66.2%" transform="scale(0.9969999999999999)">
            Color
          </text>
          <text class="medium" x="9.5%" y="66.5%" transform="scale(0.9949999999999999)">
            Color
          </text>
          <text class="medium" x="9.8%" y="66.8%" transform="scale(0.9929999999999999)">
            Color
          </text>
        </g>
      </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--left timeline-content--crop-32-32">
        <a href="void:0"  class="img-mask">
          <div class="mask">
            <!-- <video src="/images/american-made/route.mp4" loop autoplay>
            </video> -->
            <object data="/images/american-made/hi-fi.svg" class="" type="image/svg+xml"></object>
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>High-Fidelity Prototype</h2>
          <p>Note: The great majority of the high-fidelity screens have placeholder lorem ipsum copy.</p>
          <p> This is because we wanted to test the functionality of the app without verbal cues.</p>
          <div class="links">
            <a href="void:0" >
              <div class="underline-button"></div>
              <!--              <span>Experience Fly With Barry</span>-->
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>




