<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <div class="timeline-container" du-spy-context>
    <div id="project-0" du-scrollspy="project-0" class="fh5co-timeline">
      <div class="line"></div>
      <h1 class="mobile-sm">Dr. Seuss once said, “Think left and think right and think low and think high. Oh, the things you can think up if only you try!” <span>The Lorax</span> appealed to us because who doesn’t live by Dr. Seuss’s words?</h1>
    <a class="link" style="opacity:0;">See the Case Study</a>
    <br>
    </div>
    <div id="project-1" du-scrollspy="project-1" class="fh5co-timeline fh5co-timeline--long">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{0 + ((i - 1) * 0.3)}}%" 
          ng-y="{{25 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Effervescent
        </text>
      </g>
      <g class="right">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{62 + ((i - 1) * 0.3)}}%" 
          ng-y="{{45 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Visionary
   
        </text>
      </g>
      <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{2 + ((i - 1) * 0.3)}}%" 
          ng-y="{{65 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
         Ingenuity
        </text>
      </g>
    </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--right">
        <a href="//universal-pictures.nbcuxlab.com/the-lorax/" target="_blank" class="img-mask">
          <div class="mask">
            <video src="/images/lorax/lorax-process-1.mp4" loop autoplay>
            </video>
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>The Film Site</h2>
          <p>In collaboration with Universal Pictures, we were inspired by our favorite tree-loving characters to create a site promoting the Lorax. This whimsically animated film gave us a lot to work with when we began ideating and brainstorming.</p>
          <p>We realized our vision when we eventually designed, developed, QA’d, and deployed the site. At the end, we even brought to life an interactive “Meet the Characters” feature.</p>
          <div class="links">
            <a href="//universal-pictures.nbcuxlab.com/the-lorax/" target="_blank">
              <div class="underline-button"></div>
              <span>Visit Full Website</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="project-2" du-scrollspy="project-2" class="fh5co-timeline fh5co-timeline--medium">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{0 + ((i - 1) * 0.3)}}%" 
          ng-y="{{25 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Interactivity
        </text>
      </g>
      <g class="right">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{62 + ((i - 1) * 0.3)}}%" 
          ng-y="{{45 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
      Assets
        </text>
      </g>
      <g class="left">
          <text class="medium" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{2 + ((i - 1) * 0.3)}}%" 
          ng-y="{{65 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
         UX Design
        </text>
      </g>
    </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--left">
        <a href="//universal-pictures.nbcuxlab.com/the-lorax/" target="_blank" class="img-mask">
          <div class="mask" style="clip-path: inset(0px 0px 0px 0px); -webkit-clip-path: inset(0px 0px 0px 0px);">
            <img src="/images/lorax/characters.png">
          </div>
        </a>
        <div class="copy">
          <h2>Meet the Characters</h2>
          <p>“Hi, it’s nice to meet you!” Have you ever wished you could meet a character in a film? In our interactive feature, you can! </p>
          <p>Learn about their personalities and the actors who voice them in the Lorax. </p>
          <div class="links links--left">
            <a href="//universal-pictures.nbcuxlab.com/the-lorax/characters" target="_blank"><span>Meet the Characters</span><div class="underline"></div></a>
          </div>
        </div>
      </div>
    </div>

       <div id="project-3" du-scrollspy="project-3" class="fh5co-timeline fh5co-timeline--small" style="margin-top: -15vh;">
      <div class="timeline-content timeline-content--right">
        <a href="//universal-pictures.nbcuxlab.com/the-lorax/" target="_blank" class="img-mask">
          <div class="mask" style="clip-path: inset(0px 0px 0px 0px); -webkit-clip-path: inset(0px 0px 0px 0px); margin-left: 0; width: 200%;">
              <img src="/images/lorax/characters2.png">
          </div>
        </a>
        <div class="copy">
          <h2></h2>
          <p></p>
          <p></p>
          <div class="links">
            <a href="//universal-pictures.nbcuxlab.com/the-lorax/" target="_blank"><span></span><div class="underline"></div></a>
          </div>
        </div>
      </div>
    </div>

  </span>
</div>


