<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <div class="timeline-container" du-spy-context>
       <div id="project-0" du-scrollspy="project-0" class="fh5co-timeline">
      <div class="line"></div>
      <h1>User experience is important even for back-end systems. We were asked to re-imagine the <span>MVPD</span> user workflows and design.</h1>
      <br>
      <a class="link" style="opacity:0;">See the Case Study</a>
    </div>
    <div id="project-1" du-scrollspy="project-1" class="fh5co-timeline fh5co-timeline--long">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{0 + ((i - 1) * 0.3)}}%" 
          ng-y="{{25 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Research
        </text>
      </g>
      <g class="right">
          <text class="medium" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{57 + ((i - 1) * 0.3)}}%" 
          ng-y="{{45 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
       Intensive
        </text>
      </g>
      <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{2 + ((i - 1) * 0.3)}}%" 
          ng-y="{{65 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
         User-centric
        </text>
      </g>
    </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--right">
        <a href="//mvpd.nbcuxlab.com" target="_blank" class="img-mask">
         <div class="mask">
            <img src="/images/mvpd/discovery-new.jpg">
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>Discovery</h2>
          <p>We conducted four user observation sessions in order to have a solid understanding of the current MVPD admin system. By working directly with users, we identified key workflows and users’ pain points. We used this information to re-design and improve their current workflow within the parameters of their current system. With better UI, click reduction, and a more streamlined process, we ensured that future users will have a better experience.</p>
          <div class="links">
            <a href="//mvpd.nbcuxlab.com/discovery/index.html" target="_blank">
              <div class="underline-button"></div>
              <span>Visit Discovery Page</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="project-2" du-scrollspy="project-2" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{0 + ((i - 1) * 0.3)}}%" 
          ng-y="{{25 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Functionality
        </text>
      </g>
      <g class="right">
          <text class="medium" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{52 + ((i - 1) * 0.3)}}%" 
          ng-y="{{55 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
      Usability
        </text>
      </g>
      
    </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--left timeline-content--crop-32-32">
        <a href="//mvpd.nbcuxlab.com/requirements/index.html" target="_blank" class="img-mask">
          <div class="mask">
            <object data="/images/mvpd/requirements.svg" class="" type="image/svg+xml"></object>
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>Requirements</h2>
          <p>Using what we learned from our discovery sessions, we created a list of requisite features that must exist in a MVPD admin system. This list guided the re-design of current workflows and gave us constraints to work within.</p>
          <div class="links">
            <a href="//mvpd.nbcuxlab.com/requirements/index.html" target="_blank">
              <div class="underline-button"></div>
              <span>Visit Requirements Page</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="project-3" du-scrollspy="project-3" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{0 + ((i - 1) * 0.3)}}%" 
          ng-y="{{25 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Resolution
        </text>
      </g>
      <g class="right">
          <text class="medium" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{54 + ((i - 1) * 0.3)}}%" 
          ng-y="{{50 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
      Backbone
        </text>
      </g>
      <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{2 + ((i - 1) * 0.3)}}%" 
          ng-y="{{79 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
         High-Fidelity
        </text>
      </g>
    </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--right  timeline-content--crop-32-32">
        <a href="//mvpd.nbcuxlab.com/wireframes/index.html"" target="_blank" class="img-mask">
          <div class="mask"> 
            <object data="/images/mvpd/wireframes.svg" class="" type="image/svg+xml"></object>
            <!-- <img src="/images/mvpd/wireframe-new.jpg"> -->
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>Wireframes</h2>
          <p>We worked closely with our users and project managers to create and refine wireframes. All changes were documented accordingly, with clean revisions and annotations that allow developers to seamlessly work their magic.</p>
          <div class="links">
            <a href="//mvpd.nbcuxlab.com/wireframes/index.html" target="_blank">
              <div class="underline-button"></div>
              <span>View Wireframes</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>


