<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <div class="timeline-container" du-spy-context>
    <div id="project-0" du-scrollspy="project-0" class="fh5co-timeline">
      <div class="line"></div>
      <h1 class="large" >Our user-friendly <span>rationalized video player</span> met the needs of many NBCU brands.</h1>
      <a class="link" style="opacity:0;">See the Case Study</a>
      <br>
    </div>


    <div id="project-1" du-scrollspy="project-1" class="fh5co-timeline fh5co-timeline--long">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
      <g class="left">
        <text class="small" x="0.0%" y="25%" transform="scale(1.005)">
          Consistency
        </text>
        <text class="small" x="0.3%" y="25.3%" transform="scale(1.003)">
          Consistency
        </text>
        <text class="small" x="0.6%" y="25.6%" transform="scale(1.001)">
          Consistency
        </text>
        <text class="small" x="0.9%" y="25.9%" transform="scale(0.9989999999999999)">
          Consistency
        </text>
        <text class="small" x="1.2%" y="26.2%" transform="scale(0.9969999999999999)">
          Consistency
        </text>
        <text class="small" x="1.5%" y="26.5%" transform="scale(0.9949999999999999)">
          Consistency
        </text>
        <text class="small" x="1.8%" y="26.8%" transform="scale(0.9929999999999999)">
          Consistency
        </text>
      </g>
      <g class="right">
        <text class="small" x="55.0%" y="45%" transform="scale(1.005)">
          Communication
        </text>
        <text class="small" x="55.3%" y="45.3%" transform="scale(1.003)">
          Communication
        </text>
        <text class="small" x="55.6%" y="45.6%" transform="scale(1.001)">
          Communication
        </text>
        <text class="small" x="55.9%" y="45.9%" transform="scale(0.9989999999999999)">
          Communication
        </text>
        <text class="small" x="56.2%" y="46.2%" transform="scale(0.9969999999999999)">
          Communication
        </text>
        <text class="small" x="56.5%" y="46.5%" transform="scale(0.9949999999999999)">
          Communication
        </text>
        <text class="small" x="56.8%" y="46.8%" transform="scale(0.9929999999999999)">
          Communication
        </text>
      </g>
      <g class="left">
        <text class="small" x="2.0%" y="70%" transform="scale(1.005)">
          Personality
        </text>
        <text class="small" x="2.3%" y="70.3%" transform="scale(1.003)">
          Personality
        </text>
        <text class="small" x="2.6%" y="70.6%" transform="scale(1.001)">
          Personality
        </text>
        <text class="small" x="2.9%" y="70.9%" transform="scale(0.9989999999999999)">
          Personality
        </text>
        <text class="small" x="3.2%" y="71.2%" transform="scale(0.9969999999999999)">
          Personality
        </text>
        <text class="small" x="3.5%" y="71.5%" transform="scale(0.9949999999999999)">
          Personality
        </text>
        <text class="small" x="3.8%" y="71.8%" transform="scale(0.9929999999999999)">
          Personality
        </text>
      </g>
    </svg>
    <div class="line"></div>
    <div class="timeline-content timeline-content--left">
      <a href="//rationalized-player.nbcuxlab.com" target="_blank" class="img-mask">
        <div class="mask">
          <video src="/images/rationalized/ui2.mp4" loop autoplay>
          </video>
        </div>
      </a>
      <div class="copy copy--masking">
        <h2>Front-End Prototype</h2>
        <p>We designed and developed the front-end of the player.</p>
        <p>Since we built the front-end prototype with React, the developers get a huge head start with coding the player.</p>
        <div class="links">
          <a href="//rationalized-player.nbcuxlab.com" target="_blank">
            <div class="underline-button"></div>
            <span>See the Prototype</span>
            <div class="underline"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="project-2" du-scrollspy="project-2" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
      <g class="left">
        <text class="medium" x="0.0%" y="25%" transform="scale(1.005)">
          UI Dev
        </text>
        <text class="medium" x="0.3%" y="25.3%" transform="scale(1.003)">
          UI Dev
        </text>
        <text class="medium" x="0.6%" y="25.6%" transform="scale(1.001)">
          UI Dev
        </text>
        <text class="medium" x="0.9%" y="25.9%" transform="scale(0.9989999999999999)">
          UI Dev
        </text>
        <text class="medium" x="1.2%" y="26.2%" transform="scale(0.9969999999999999)">
          UI Dev
        </text>
        <text class="medium" x="1.5%" y="26.5%" transform="scale(0.9949999999999999)">
          UI Dev
        </text>
        <text class="medium" x="1.8%" y="26.8%" transform="scale(0.9929999999999999)">
          UI Dev
        </text>
      </g>
      <g class="right">
        <text class="small" x="60.0%" y="45%" transform="scale(1.005)">
          UX Code
        </text>
        <text class="small" x="60.3%" y="45.3%" transform="scale(1.003)">
          UX Code
        </text>
        <text class="small" x="60.6%" y="45.6%" transform="scale(1.001)">
          UX Code
        </text>
        <text class="small" x="60.9%" y="45.9%" transform="scale(0.9989999999999999)">
          UX Code
        </text>
        <text class="small" x="61.2%" y="46.2%" transform="scale(0.9969999999999999)">
          UX Code
        </text>
        <text class="small" x="61.5%" y="46.5%" transform="scale(0.9949999999999999)">
          UX Code
        </text>
        <text class="small" x="61.8%" y="46.8%" transform="scale(0.9929999999999999)">
          UX Code
        </text>
      </g>
      <g class="left">
        <text class="small" x="2.0%" y="65%" transform="scale(1.005)">
          Multifaceted
        </text>
        <text class="small" x="2.3%" y="65.3%" transform="scale(1.003)">
          Multifaceted
        </text>
        <text class="small" x="2.6%" y="65.6%" transform="scale(1.001)">
          Multifaceted
        </text>
        <text class="small" x="2.9%" y="65.9%" transform="scale(0.9989999999999999)">
          Multifaceted
        </text>
        <text class="small" x="3.2%" y="66.2%" transform="scale(0.9969999999999999)">
          Multifaceted
        </text>
        <text class="small" x="3.5%" y="66.5%" transform="scale(0.9949999999999999)">
          Multifaceted
        </text>
        <text class="small" x="3.8%" y="66.8%" transform="scale(0.9929999999999999)">
          Multifaceted
        </text>
      </g>
    </svg>
    <div class="line"></div>
    <div class="timeline-content timeline-content--right timeline-content--crop-32-29">
      <a href="//rationalized-player.nbcuxlab.com/crisp.html" target="_blank" class="img-mask">
        <div class="mask">
          <object data="/images/rationalized/sandbox.svg" type="image/svg+xml"></object>
        </div>
      </a>
      <div class="copy copy--masking">
        <h2>Player Configuration Sandbox</h2>
        <p>We created a sandbox environment for producers and developers to play around with the vast configurable options available to the player. This addition allowed different brands to customize the video players to reflect their specific style.</p>
        <div class="links">
          <a href="//rationalized-player.nbcuxlab.com/crisp.html" target="_blank">
            <div class="underline-button"></div>
            <span>Visit Sandbox</span>
            <div class="underline"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="project-3" du-scrollspy="project-3" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
    <g class="left">
      <text class="medium" x="0.0%" y="30%" transform="scale(1.005)">
        Branding
      </text>
      <text class="medium" x="0.3%" y="30.3%" transform="scale(1.003)">
        Branding
      </text>
      <text class="medium" x="0.6%" y="30.6%" transform="scale(1.001)">
        Branding
      </text>
      <text class="medium" x="0.9%" y="30.9%" transform="scale(0.9989999999999999)">
        Branding
      </text>
      <text class="medium" x="1.2%" y="31.2%" transform="scale(0.9969999999999999)">
        Branding
      </text>
      <text class="medium" x="1.5%" y="31.5%" transform="scale(0.9949999999999999)">
        Branding
      </text>
      <text class="medium" x="1.8%" y="31.8%" transform="scale(0.9929999999999999)">
        Branding
      </text>
    </g>
    <g class="right">
      <text class="small" x="57.0%" y="65%" transform="scale(1.005)">
        Versatility
      </text>
      <text class="small" x="57.3%" y="65.3%" transform="scale(1.003)">
        Versatility
      </text>
      <text class="small" x="57.6%" y="65.6%" transform="scale(1.001)">
        Versatility
      </text>
      <text class="small" x="57.9%" y="65.9%" transform="scale(0.9989999999999999)">
        Versatility
      </text>
      <text class="small" x="58.2%" y="66.2%" transform="scale(0.9969999999999999)">
        Versatility
      </text>
      <text class="small" x="58.5%" y="66.5%" transform="scale(0.9949999999999999)">
        Versatility
      </text>
      <text class="small" x="58.8%" y="66.8%" transform="scale(0.9929999999999999)">
        Versatility
      </text>
    </g>
  </svg>
  <div class="line"></div>
  <div class="timeline-content timeline-content--right timeline-content--crop-32-32">
    <a href="http://rationalizedplayer.nbcuxlab.com/configurable-elements/" target="_blank" class="img-mask">
      <div class="mask">
        <object data="/images/rationalized/style-guide.svg" type="image/svg+xml"></object>
      </div>
    </a>
    <div class="copy copy--masking">
      <h2>Style Guide</h2>
      <p>We created a guide that documents the style, components, and animations of the new rationalized video player in detail, including the specific specs and code that would be commonly used across VOD and Live Players.</p>
      <div class="links">
        <a href="http://rationalizedplayer.nbcuxlab.com/configurable-elements/" target="_blank">
          <div class="underline-button"></div>
          <span>See Style Guide</span>
          <div class="underline"></div>
        </a>
      </div>
    </div>
  </div>
</div>

</div>


