<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <div class="timeline-container" du-spy-context>
      <div id="project-0" du-scrollspy="project-0" class="fh5co-timeline">
      <div class="line"></div>
      <h1>We took a gander into <span>SyFy’s</span> mobile app to see where they stand in the current mobile video streaming landscape.</h1>
      <a class="link" style="opacity:0;">See the Case Study</a>
      <br>
    </div>
    <div id="project-1" du-scrollspy="project-1" class="fh5co-timeline fh5co-timeline--long fh5co-timeline--panoramic">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{0 + ((i - 1) * 0.3)}}%" 
          ng-y="{{25 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Initiative
        </text>
      </g>
      <g class="right">
          <text class="medium" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{60 + ((i - 1) * 0.3)}}%" 
          ng-y="{{45 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
       Invent
        </text>
      </g>
      <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{2 + ((i - 1) * 0.3)}}%" 
          ng-y="{{65 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
         Momentum
        </text>
      </g>
    </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--right timeline-content--crop-32-32">
        <a href="//mobile-analysis.nbcuxlab.com/" target="_blank" class="img-mask">
          <div class="mask">
            <object data="/images/syfy/about.svg" class="" type="image/svg+xml"></object>
            <!-- <img src="/images/syfy/syfy-about.jpg" /> -->
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>About</h2>
          <p>
          We were approached to have a look at SyFy’s mobile app and assess where their mobile experience stands amongst other video content streamers. Staying on top of new tech trends is important to us. We did an in-depth analysis on mobile app experiences from major players like Netflix and Amazon Prime Video.
          </p>
          <p>
          What increases an app’s usability? What makes for a delightful interaction? We’ve produced our take on the current video streaming mobile app landscape using our research. Being informed fosters our innovative spirit and keeps us ahead of the curve.
          </p>
          <div class="links">
            <a href="//mobile-analysis.nbcuxlab.com/" target="_blank">
              <div class="underline-button"></div>
              <span>View Research Website</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>

      <div id="project-2" du-scrollspy="project-2" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{0 + ((i - 1) * 0.3)}}%" 
          ng-y="{{25 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Competitive
        </text>
      </g>
      <g class="right">
          <text class="medium" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{58 + ((i - 1) * 0.3)}}%" 
          ng-y="{{45 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
       Analysis
        </text>
      </g>
      <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{2 + ((i - 1) * 0.3)}}%" 
          ng-y="{{65 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Innovation
        </text>
      </g>
    </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--left timeline-content--crop-1-32">
        <a href="//mobile-analysis.nbcuxlab.com/"" target="_blank" class="img-mask">
          <div class="mask">
            <!-- <img src="/images/syfy/syfy-landing-01.png" /> -->
            <object data="/images/syfy/desktop-mobile.svg" class="" type="image/svg+xml"></object>
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>Landing Page</h2>
          <p>First impressions are everything. Landing pages can either make it or break it for most users. We’ve analyzed landing pages from all the top dogs in video streaming and our light bulbs are going off. We have novel ideas for elevating the mobile video streaming user experience and we’re dying to show off our muscle.</p>
          <div class="links">
            <a href="http://mobile-analysis.nbcuxlab.com/landing/index.html" target="_blank">
              <div class="underline-button"></div>
              <span>View Research</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>

          <div id="project-3" du-scrollspy="project-3" class="fh5co-timeline fh5co-timeline--medium">
           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{0 + ((i - 1) * 0.3)}}%" 
          ng-y="{{25 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
        Pioneer
        </text>
      </g>
      <g class="right">
          <text class="medium" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{62 + ((i - 1) * 0.3)}}%" 
          ng-y="{{45 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
      New
        </text>
      </g>
      <g class="left">
          <text class="small" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" 
          ng-x="{{2 + ((i - 1) * 0.3)}}%" 
          ng-y="{{65 + ((i - 1) * 0.3)}}%"
          ng-transform="scale({{1.005 - ((i - 1) * 0.002)}})">
         Perspective
        </text>
      </g>
    </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--right">
        <a href="//mobile-analysis.nbcuxlab.com/" target="_blank" class="img-mask">
          <div class="mask">
            <img src="/images/syfy/Syfy_video-01.png" />
     
          </div>
        </a>
        <div class="copy">
          <h2>Video Player</h2>
          <p>You can’t binge watch your favorite show without interacting with a video streaming service’s video player. What UI endows users with the most enjoyable watching experience? What features are essential? We’ve explored numerous mobile video players and we want to use what we’ve learned to put our forward-thinking foot forward.</p>
          <div class="links">
            <a href="http://mobile-analysis.nbcuxlab.com/videoPlayer/index.html" target="_blank">
              <span>View Research</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>


  </span>
</div>


