<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <div class="timeline-container" du-spy-context>
   <div id="project-0" du-scrollspy="project-0" class="fh5co-timeline">
    <div class="line"></div>
    <h1>We channeled our inner child when <span>Universal Kids</span> asked us to help solve design problems on their site.</h1>
    <a class="link" style="opacity:0;">See the Case Study</a>
    <br>
  </div>
  <div id="project-1" du-scrollspy="project-1" class="fh5co-timeline fh5co-timeline--long fh5co-timeline--panoramic">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
      <g class="left">
        <text class="small" x="0.0%" y="25%" transform="scale(1.005)">
          Problem
        </text>
        <text class="small" x="0.3%" y="25.3%" transform="scale(1.003)">
          Problem
        </text>
        <text class="small" x="0.6%" y="25.6%" transform="scale(1.001)">
          Problem
        </text>
        <text class="small" x="0.9%" y="25.9%" transform="scale(0.9989999999999999)">
          Problem
        </text>
        <text class="small" x="1.2%" y="26.2%" transform="scale(0.9969999999999999)">
          Problem
        </text>
        <text class="small" x="1.5%" y="26.5%" transform="scale(0.9949999999999999)">
          Problem
        </text>
        <text class="small" x="1.8%" y="26.8%" transform="scale(0.9929999999999999)">
          Problem
        </text>
      </g>
      <g class="right">
        <text class="medium" x="52.0%" y="45%" transform="scale(1.005)">
          Solving
        </text>
        <text class="medium" x="52.3%" y="45.3%" transform="scale(1.003)">
          Solving
        </text>
        <text class="medium" x="52.6%" y="45.6%" transform="scale(1.001)">
          Solving
        </text>
        <text class="medium" x="52.9%" y="45.9%" transform="scale(0.9989999999999999)">
          Solving
        </text>
        <text class="medium" x="53.2%" y="46.2%" transform="scale(0.9969999999999999)">
          Solving
        </text>
        <text class="medium" x="53.5%" y="46.5%" transform="scale(0.9949999999999999)">
          Solving
        </text>
        <text class="medium" x="53.8%" y="46.8%" transform="scale(0.9929999999999999)">
          Solving
        </text>
      </g>
      <g class="left">
        <text class="small" x="2.0%" y="68%" transform="scale(1.005)">
          Diagnostic
        </text>
        <text class="small" x="2.3%" y="68.3%" transform="scale(1.003)">
          Diagnostic
        </text>
        <text class="small" x="2.6%" y="68.6%" transform="scale(1.001)">
          Diagnostic
        </text>
        <text class="small" x="2.9%" y="68.9%" transform="scale(0.9989999999999999)">
          Diagnostic
        </text>
        <text class="small" x="3.2%" y="69.2%" transform="scale(0.9969999999999999)">
          Diagnostic
        </text>
        <text class="small" x="3.5%" y="69.5%" transform="scale(0.9949999999999999)">
          Diagnostic
        </text>
        <text class="small" x="3.8%" y="69.8%" transform="scale(0.9929999999999999)">
          Diagnostic
        </text>
      </g>
    </svg>
    <div class="line"></div>
    <div class="timeline-content timeline-content--left timeline-content--crop-32-32">
      <a href="//www.universalkids.com/"" target="_blank" class="img-mask">
        <div class="mask">
         <object data="/images/universal-kids/carousel.svg" type="image/svg+xml"></object>
       </div>
     </a>
     <div class="copy copy--masking">
      <h2>Carousel</h2>
      <p>Universal Kids came to us with a problem regarding the site’s carousel usability. We came up with a design solution to help our little friends navigate the homepage better. So, click away and catch up on those toons you need to fit in before bedtime!</p>
      <div class="links">
        <a href="//www.universalkids.com/" target="_blank">
          <div class="underline-button"></div>
          <span>Visit Full Website</span>
          <div class="underline"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="project-2" du-scrollspy="project-2" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
    <g class="left">
      <text class="medium" x="0.0%" y="25%" transform="scale(1.005)">
        UX
      </text>
      <text class="medium" x="0.3%" y="25.3%" transform="scale(1.003)">
        UX
      </text>
      <text class="medium" x="0.6%" y="25.6%" transform="scale(1.001)">
        UX
      </text>
      <text class="medium" x="0.9%" y="25.9%" transform="scale(0.9989999999999999)">
        UX
      </text>
      <text class="medium" x="1.2%" y="26.2%" transform="scale(0.9969999999999999)">
        UX
      </text>
      <text class="medium" x="1.5%" y="26.5%" transform="scale(0.9949999999999999)">
        UX
      </text>
      <text class="medium" x="1.8%" y="26.8%" transform="scale(0.9929999999999999)">
        UX
      </text>
    </g>
    <g class="right">
      <text class="medium" x="62.0%" y="45%" transform="scale(1.005)">
        Design
      </text>
      <text class="medium" x="62.3%" y="45.3%" transform="scale(1.003)">
        Design
      </text>
      <text class="medium" x="62.6%" y="45.6%" transform="scale(1.001)">
        Design
      </text>
      <text class="medium" x="62.9%" y="45.9%" transform="scale(0.9989999999999999)">
        Design
      </text>
      <text class="medium" x="63.2%" y="46.2%" transform="scale(0.9969999999999999)">
        Design
      </text>
      <text class="medium" x="63.5%" y="46.5%" transform="scale(0.9949999999999999)">
        Design
      </text>
      <text class="medium" x="63.8%" y="46.8%" transform="scale(0.9929999999999999)">
        Design
      </text>
    </g>
    <g class="left">
      <text class="small" x="2.0%" y="65%" transform="scale(1.005)">
        User-friendly
      </text>
      <text class="small" x="2.3%" y="65.3%" transform="scale(1.003)">
        User-friendly
      </text>
      <text class="small" x="2.6%" y="65.6%" transform="scale(1.001)">
        User-friendly
      </text>
      <text class="small" x="2.9%" y="65.9%" transform="scale(0.9989999999999999)">
        User-friendly
      </text>
      <text class="small" x="3.2%" y="66.2%" transform="scale(0.9969999999999999)">
        User-friendly
      </text>
      <text class="small" x="3.5%" y="66.5%" transform="scale(0.9949999999999999)">
        User-friendly
      </text>
      <text class="small" x="3.8%" y="66.8%" transform="scale(0.9929999999999999)">
        User-friendly
      </text>
    </g>
  </svg>
  <div class="line"></div>
  <div class="timeline-content timeline-content--right timeline-content--crop-32-29">
    <a href="//www.universalkids.com/shows/top-chef-junior" target="_blank" class="img-mask">
      <div class="mask">
       <object data="/images/universal-kids/channel-finder-desktop.svg" type="image/svg+xml"></object>
     </div>
   </a>
   <div class="copy copy--masking">
    <h2>Channel Desktop</h2>
    <p>We took on the task of re-designing the Channel Finder as well. Stepping into smaller shoes helped us streamline the workflow and kid-ify the design. Now, our littler counterparts can find and enjoy their favorite shows with ease.</p>
    <div class="links">
      <a href="//www.universalkids.com/shows/top-chef-jr" target="_blank">
        <div class="underline-button"></div>
        <span>See Channel Finder</span>
        <div class="underline"></div>
      </a>
    </div>
  </div>
</div>
</div>

<div id="project-3" du-scrollspy="project-3" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
 <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
  <g class="left">
    <text class="small" x="-2.0%" y="25%" transform="scale(1.005)">
      Responsive
    </text>
    <text class="small" x="-1.8%" y="25.3%" transform="scale(1.003)">
      Responsive
    </text>
    <text class="small" x="-1.5%" y="25.6%" transform="scale(1.001)">
      Responsive
    </text>
    <text class="small" x="-1.3%" y="25.9%" transform="scale(0.9989999999999999)">
      Responsive
    </text>
    <text class="small" x="-1.0%" y="26.2%" transform="scale(0.9969999999999999)">
      Responsive
    </text>
    <text class="small" x="-0.7%" y="26.5%" transform="scale(0.9949999999999999)">
      Responsive
    </text>
    <text class="small" x="-0.4%" y="26.8%" transform="scale(0.9929999999999999)">
      Responsive
    </text>
  </g>
  <g class="right">
    <text class="small" x="55.0%" y="45%" transform="scale(1.005)">
      Optimization
    </text>
    <text class="small" x="55.3%" y="45.3%" transform="scale(1.003)">
      Optimization
    </text>
    <text class="small" x="55.6%" y="45.6%" transform="scale(1.001)">
      Optimization
    </text>
    <text class="small" x="55.9%" y="45.9%" transform="scale(0.9989999999999999)">
      Optimization
    </text>
    <text class="small" x="56.2%" y="46.2%" transform="scale(0.9969999999999999)">
      Optimization
    </text>
    <text class="small" x="56.5%" y="46.5%" transform="scale(0.9949999999999999)">
      Optimization
    </text>
    <text class="small" x="56.8%" y="46.8%" transform="scale(0.9929999999999999)">
      Optimization
    </text>
  </g>
  <g class="left">
    <text class="medium" x="2.0%" y="65%" transform="scale(1.005)">
      Mobile
    </text>
    <text class="medium" x="2.3%" y="65.3%" transform="scale(1.003)">
      Mobile
    </text>
    <text class="medium" x="2.6%" y="65.6%" transform="scale(1.001)">
      Mobile
    </text>
    <text class="medium" x="2.9%" y="65.9%" transform="scale(0.9989999999999999)">
      Mobile
    </text>
    <text class="medium" x="3.2%" y="66.2%" transform="scale(0.9969999999999999)">
      Mobile
    </text>
    <text class="medium" x="3.5%" y="66.5%" transform="scale(0.9949999999999999)">
      Mobile
    </text>
    <text class="medium" x="3.8%" y="66.8%" transform="scale(0.9929999999999999)">
      Mobile
    </text>
  </g>
</svg>
<div class="line"></div>
<div class="timeline-content timeline-content--left timeline-content--crop-38-32">
  <a href="//universalkids.com/shows/top-chef-jr" target="_blank" class="img-mask">
    <div class="mask">
      <object data="/images/universal-kids/mobile.svg" type="image/svg+xml"></object>      
    </div>
  </a>
  <div class="copy copy--masking">
    <h2>Channel Mobile</h2>
    <p>We know kids today are cooler than we were – they all have phones and tablets now! As technology is becoming increasingly mobile, we’re making it a priority to create mobile responsive designs. In our re-design of the Channel Finder, we also created a mobile version so our tech-savvy youths can be in the know about the latest episodes.</p>
    <div class="links">
      <a href="//www.universalkids.com/shows/top-chef-jr" target="_blank">
        <div class="underline-button"></div>
        <span>See Channel Finder</span>
        <div class="underline"></div>
      </a>
    </div>
  </div>
</div>
</div>

</span>
</div>


